{"openapi":"3.1.0","info":{"title":"Strale API","version":"1.0.0","description":"The trust layer for AI agents — 250+ independently tested data capabilities across 27 countries. Execute capabilities via REST, MCP, A2A, or x402 micropayments. Every call returns an audit record with cryptographic chain hashing.","contact":{"name":"Strale","email":"hello@strale.io","url":"https://strale.dev"},"termsOfService":"https://strale.dev/terms","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"externalDocs":{"description":"Strale Documentation","url":"https://strale.dev/docs"},"servers":[{"url":"https://api.strale.io","description":"Production — includes sandbox access via free trial (€2.00 credits on signup, no card required)"}],"tags":[{"name":"capabilities","description":"Browse and execute capabilities"},{"name":"solutions","description":"Bundled multi-capability workflows"},{"name":"wallet","description":"Wallet balance and top-ups"},{"name":"transactions","description":"Transaction history and verification"},{"name":"auth","description":"Registration and API key management"},{"name":"trust","description":"Quality scores and trust data"},{"name":"suggest","description":"AI-powered capability suggestions"},{"name":"discovery","description":"Agent discovery endpoints"},{"name":"x402","description":"Pay-per-call endpoints (USDC on Base, no API key)"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Strale API key (starts with sk_live_). Obtain from https://strale.dev after registration."}},"schemas":{"Error":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"Capability":{"type":"object","properties":{"slug":{"type":"string","example":"iban-validate"},"name":{"type":"string","example":"IBAN Validation"},"description":{"type":"string"},"category":{"type":"string","example":"validation"},"price_cents":{"type":"integer","description":"Price in EUR cents (0 = free tier)","example":0},"input_schema":{"type":"object"},"output_schema":{"type":"object"},"transparency_tag":{"type":"string","nullable":true,"enum":["algorithmic","ai_generated","mixed"]},"geography":{"type":"string","nullable":true},"data_source":{"type":"string","nullable":true},"is_free_tier":{"type":"boolean"},"search_tags":{"type":"array","items":{"type":"string"},"description":"Searchability tags"},"freshness_level":{"type":"string","description":"Test data freshness","enum":["fresh","aging","stale","expired","unverified"]},"last_tested_at":{"type":"string","format":"date-time","nullable":true,"description":"When this capability was last tested"},"cost_class":{"type":"string","nullable":true,"enum":["free_unlimited","free_quota","paid_with_free_tier","paid_prepaid","paid_subscription"],"description":"Per-capability cost classification (Phase A0b, DEC-20260512-A). NULL means the capability has not yet been classified."},"last_customer_call_at":{"type":"string","format":"date-time","nullable":true,"description":"Timestamp of the most recent customer-initiated completed invocation. Excludes internal test runs. Used by clients to distinguish 'paid capability awaiting first customer call' from 'capability with genuine quality issues.'"}}},"Solution":{"type":"object","properties":{"slug":{"type":"string","example":"kyb-essentials-se"},"name":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"price_cents":{"type":"integer"},"step_count":{"type":"integer"},"geography":{"type":"string"},"transparency_tag":{"type":"string","nullable":true,"description":"Data transparency category"},"compliance_coverage":{"type":"array","items":{"type":"string"},"description":"Compliance frameworks covered"},"search_tags":{"type":"array","items":{"type":"string"},"description":"Searchability tags"},"capabilities":{"type":"array","items":{"type":"string"},"description":"Step capability slugs"},"data_sources":{"type":"array","items":{"type":"string"},"description":"Unique data sources across steps"},"freshness_level":{"type":"string","description":"Worst step freshness","enum":["fresh","aging","stale","expired","unverified"]},"last_tested_at":{"type":"string","format":"date-time","nullable":true,"description":"Oldest step last-tested timestamp"}}},"DoRequest":{"type":"object","description":"Provide either capability_slug (direct execution) or task (semantic matching).","properties":{"task":{"type":"string","description":"Natural language task description. The system finds the best matching capability.","example":"Validate this IBAN: DE89370400440532013000"},"capability_slug":{"type":"string","description":"Direct capability slug to execute.","example":"iban-validate"},"inputs":{"type":"object","description":"Capability-specific input fields.","example":{"iban":"DE89370400440532013000"}},"max_price_cents":{"type":"integer","description":"Maximum price willing to pay (EUR cents). Required for authenticated requests to paid capabilities."},"timeout_seconds":{"type":"integer","description":"Max execution time (1-60, default 30)."},"dry_run":{"type":"boolean","description":"If true, returns matched capability without executing.","default":false}}},"DoResponse":{"type":"object","description":"Response from POST /v1/do. Core execution data in `result`, trust metadata in `meta`.","properties":{"result":{"type":"object","description":"What the caller asked for — the execution result.","properties":{"transaction_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["completed","executing","failed"]},"capability_used":{"type":"string"},"price_cents":{"type":"integer"},"latency_ms":{"type":"integer"},"wallet_balance_cents":{"type":"integer","description":"Remaining wallet balance (authenticated only)."},"output":{"type":"object","nullable":true},"provenance":{"type":"object","properties":{"source":{"type":"string"},"fetched_at":{"type":"string","format":"date-time"}}}}},"meta":{"type":"object","description":"Per-call audit trail.","properties":{"audit":{"type":"object","description":"EU AI Act compliant audit trail."}}},"free_tier":{"type":"boolean","description":"True for unauthenticated free-tier calls."},"usage":{"type":"object","description":"Free-tier usage counter (unauthenticated only)."},"upgrade":{"type":"object","description":"Upgrade prompt with paid capability examples (free-tier only)."}}}}},"paths":{"/v1/capabilities":{"get":{"tags":["capabilities"],"summary":"List all capabilities","description":"Returns the full catalog of active capabilities with their pricing and input schemas. No authentication required.","responses":{"200":{"description":"Capability catalog","content":{"application/json":{"schema":{"type":"object","properties":{"capabilities":{"type":"array","items":{"$ref":"#/components/schemas/Capability"}}}}}}}}}},"/v1/capabilities/{slug}":{"get":{"tags":["capabilities"],"summary":"Get a single capability","description":"Returns detailed information for a specific capability including its input/output schema, pricing, and which solutions include it.","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"example":"iban-validate"}],"responses":{"200":{"description":"Capability details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Capability"}}}},"404":{"description":"Capability not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"not_found","message":"Capability not found."}}}}}}},"/v1/solutions":{"get":{"tags":["solutions"],"summary":"List all solutions","description":"Returns all active bundled solutions with pricing and step counts.","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by category slug"}],"responses":{"200":{"description":"Solution catalog","content":{"application/json":{"schema":{"type":"object","properties":{"solutions":{"type":"array","items":{"$ref":"#/components/schemas/Solution"}},"total":{"type":"integer"}}}}}}}}},"/v1/solutions/{slug}":{"get":{"tags":["solutions"],"summary":"Get a single solution","description":"Returns detailed solution information including individual steps, input mapping, pricing breakdown, and related solutions.","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"example":"kyb-essentials-se"}],"responses":{"200":{"description":"Solution details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}}},"404":{"description":"Solution not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"not_found","message":"Solution not found."}}}}}}},"/v1/do":{"post":{"tags":["capabilities"],"summary":"Execute a capability","description":"Execute a Strale capability. Two patterns:\n\n1. **Direct execution**: Provide `capability_slug` and `inputs` to execute a specific capability.\n2. **Semantic matching**: Provide `task` as a natural language description — the system finds and executes the best matching capability.\n\nFree-tier capabilities (iban-validate, email-validate, dns-lookup, json-repair, url-to-markdown) work without authentication.\n\nFor long-running capabilities (>10s), the response has `status: \"pending\"` with a `transaction_id`. Poll `GET /v1/transactions/{id}` until `status` is `completed` or `failed`.\n\nSupports `Idempotency-Key` header for safe retries.","security":[{"BearerAuth":[]},{}],"x-ratelimit":{"limit":10,"window":"1s","scope":"per API key"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoRequest"}}}},"responses":{"200":{"description":"Capability executed successfully (synchronous).","headers":{"X-Credits-Remaining":{"description":"Wallet balance in EUR cents after this transaction","schema":{"type":"integer"}},"X-Cost-Cents":{"description":"Cost of this execution in EUR cents","schema":{"type":"integer"}},"X-Credits-Currency":{"description":"Currency for credit values (always EUR)","schema":{"type":"string","example":"EUR"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoResponse"}}}},"202":{"description":"Capability execution started (asynchronous). Poll GET /v1/transactions/{transaction_id} for result.","content":{"application/json":{"schema":{"type":"object","properties":{"transaction_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["pending"]},"capability_used":{"type":"string"},"price_cents":{"type":"integer"},"poll_url":{"type":"string"}}}}}},"400":{"description":"Missing task or capability_slug.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"Missing task or capability_slug."}}}},"401":{"description":"Authentication required for paid capabilities.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"unauthorized","message":"Authentication required for paid capabilities."}}}},"402":{"description":"Insufficient wallet balance. Top up at the included checkout URL.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"insufficient_balance","message":"Insufficient wallet balance. Top up at the included checkout URL."}}}},"404":{"description":"No capability matches the task within budget.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"no_matching_capability","message":"No capability matches the task within budget."}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"rate_limited","message":"Rate limit exceeded."}}}},"503":{"description":"Capability is temporarily unavailable (circuit breaker open).","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"capability_unavailable","message":"Capability is temporarily unavailable (circuit breaker open)."}}}}}}},"/v1/web3-assurance":{"post":{"tags":["web3-assurance"],"summary":"Decision-ready answer about an on-chain counterparty","description":"Sister product to Payee Assurance for on-chain targets (wallet, contract, token, DeFi protocol, bridge). Returns a verdict (proceed/review/block/insufficient_evidence), reason_codes (UPPERCASE_SNAKE_CASE), critical_flags, suggested_action, evidence map, and a sidecar audit_url. Two modes: `outbound` (agent vetting recipient pre-payment, full evaluator set, 8s budget — default) and `reverse-call` (x402 service publisher gating an inbound buyer in real-time, critical evaluators only, sub-second SLA).","security":[{"BearerAuth":[]},{}],"x-ratelimit":{"limit":10,"window":"1s","scope":"per API key"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["target"],"properties":{"target":{"type":"string","description":"Wallet address (0x... or Solana), contract, token, protocol slug, or domain.","example":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"},"target_type":{"type":"string","enum":["wallet","contract","token","protocol","bridge","domain"]},"chain":{"type":"string","example":"ethereum"},"action":{"type":"string","enum":["send_payment","swap","stake","mint","interact","bridge"]},"amount_usd":{"type":"number"},"mode":{"type":"string","enum":["outbound","reverse-call"],"default":"outbound"},"agent_id":{"type":"string","description":"Optional ERC-8004 agent identifier."},"caller_jurisdiction":{"type":"string","description":"Optional ISO country code for jurisdiction-aware verdict (US, EU, UK, etc.)."}}}}}},"responses":{"200":{"description":"Decision-ready answer.","content":{"application/json":{"schema":{"type":"object","properties":{"target":{"type":"string"},"target_type":{"type":"string"},"chain":{"type":"string"},"mode":{"type":"string","enum":["outbound","reverse-call"]},"verdict":{"type":"string","enum":["proceed","review","block","insufficient_evidence"]},"reason_codes":{"type":"array","items":{"type":"string","example":"MIXER_DELISTED_ELEVATED"}},"confidence":{"type":"number","minimum":0,"maximum":1},"evidence_completeness":{"type":"string","enum":["complete","partial","minimal"]},"evidence_status":{"type":"string","enum":["corroborated","partial","contradictory","single_source","minimal"]},"critical_flags":{"type":"array","items":{"type":"string"}},"suggested_action":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"evidence":{"type":"object","additionalProperties":true},"source_quality":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"ms":{"type":"integer"},"ok":{"type":"boolean"}}}},"audit_url":{"type":"string","format":"uri"},"sla":{"type":"object","properties":{"mode":{"type":"string"},"p99_ms":{"type":"integer"},"p50_ms":{"type":"integer"}}},"meta":{"type":"object","properties":{"api_version":{"type":"string"},"fetched_at":{"type":"string","format":"date-time"},"response_ms":{"type":"integer"}}}}}}}},"400":{"description":"Missing or invalid target / mode.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"Missing or invalid target / mode."}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"unauthorized","message":"Authentication required."}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"rate_limited","message":"Rate limit exceeded."}}}}}}},"/v1/auth/register":{"post":{"tags":["auth"],"summary":"Register a new account","description":"Creates a new Strale account with €2.00 trial credits (no card required). Returns the API key — store it securely, it is shown only once.","x-ratelimit":{"limit":3,"window":"1m","scope":"per IP"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","example":"dev@example.com"},"name":{"type":"string","example":"Jane Developer"}}}}}},"responses":{"201":{"description":"Account created","content":{"application/json":{"schema":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"email":{"type":"string"},"api_key":{"type":"string","description":"Shown once. Starts with sk_live_."},"wallet_balance_cents":{"type":"integer","example":200}}}}}},"400":{"description":"Invalid email.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"Invalid email."}}}},"409":{"description":"Email already registered.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"Email already registered."}}}}}}},"/v1/auth/api-key":{"post":{"tags":["auth"],"summary":"Regenerate API key","description":"Generates a new API key and invalidates the current one.","security":[{"BearerAuth":[]}],"responses":{"200":{"description":"New API key","content":{"application/json":{"schema":{"type":"object","properties":{"api_key":{"type":"string"},"key_prefix":{"type":"string"}}}}}}}}},"/v1/wallet/balance":{"get":{"tags":["wallet"],"summary":"Get wallet balance","security":[{"BearerAuth":[]}],"x-ratelimit":{"limit":5,"window":"1s","scope":"per API key"},"responses":{"200":{"description":"Current balance","content":{"application/json":{"schema":{"type":"object","properties":{"balance_cents":{"type":"integer","description":"Balance in EUR cents","example":1850},"currency":{"type":"string","example":"EUR"}}}}}}}}},"/v1/wallet/topup":{"post":{"tags":["wallet"],"summary":"Create a top-up checkout session","description":"Creates a Stripe Checkout session for wallet top-up. Minimum €10.00.","security":[{"BearerAuth":[]}],"x-ratelimit":{"limit":5,"window":"1s","scope":"per API key"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount_cents"],"properties":{"amount_cents":{"type":"integer","minimum":1000,"description":"Amount in EUR cents (minimum 1000 = €10.00)","example":2000}}}}}},"responses":{"200":{"description":"Checkout session created","content":{"application/json":{"schema":{"type":"object","properties":{"checkout_url":{"type":"string","format":"uri"},"session_id":{"type":"string"},"amount_cents":{"type":"integer"}}}}}},"400":{"description":"amount_cents must be >= 1000","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"amount_cents must be >= 1000"}}}}}}},"/v1/wallet/transactions":{"get":{"tags":["wallet"],"summary":"List wallet transactions","description":"Returns wallet top-up and credit history.","security":[{"BearerAuth":[]}],"x-ratelimit":{"limit":5,"window":"1s","scope":"per API key"},"responses":{"200":{"description":"Wallet transaction history","content":{"application/json":{"schema":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"amount_cents":{"type":"integer"},"type":{"type":"string"},"description":{"type":"string"},"created_at":{"type":"string","format":"date-time"}}}}}}}}}}}},"/v1/transactions":{"get":{"tags":["transactions"],"summary":"List capability transactions","description":"Returns history of capability executions for the authenticated user.","security":[{"BearerAuth":[]}],"x-ratelimit":{"limit":5,"window":"1s","scope":"per API key"},"responses":{"200":{"description":"Transaction history","content":{"application/json":{"schema":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["completed","failed","pending"]},"capability_slug":{"type":"string"},"price_cents":{"type":"integer"},"latency_ms":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}}}}},"/v1/transactions/{id}/audit-token":{"post":{"tags":["transactions"],"summary":"Re-issue audit token","description":"Issue a new HMAC-signed audit URL for a transaction you own. Replaces the previous token for the caller's convenience; previous tokens remain valid until their own expires_at (stateless). Default TTL 90 days (F-A-006). Caller must own the transaction (same 404 for unknown / cross-user / deleted).","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"expires_in_days":{"type":"integer","minimum":1,"maximum":365,"default":90,"description":"TTL for the new token in days. Integer 1-365. Default 90."}}}}}},"responses":{"200":{"description":"Audit token re-issued.","content":{"application/json":{"schema":{"type":"object","properties":{"transaction_id":{"type":"string","format":"uuid"},"token":{"type":"string","description":"32-char HMAC-SHA256 substring."},"expires_at":{"type":"integer","description":"Unix seconds."},"expires_at_iso":{"type":"string","format":"date-time"},"audit_url":{"type":"string","description":"Full shareable URL with token + expires_at query params."}}}}}},"400":{"description":"expires_in_days must be an integer between 1 and 365.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"expires_in_days must be an integer between 1 and 365."}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"unauthorized","message":"Missing or invalid API key."}}}},"404":{"description":"Transaction not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"not_found","message":"Transaction not found."}}}}}}},"/v1/transactions/{id}":{"get":{"tags":["transactions"],"summary":"Get transaction detail","description":"Returns transaction detail. Authenticated callers receive the full body (output, provenance, audit trail). Unauthenticated callers looking up a free-tier transaction by UUID receive a redacted envelope with `body_redacted: true` and the body fields (input/output/error/provenance/audit_trail) absent. See F-A-005.","security":[{"BearerAuth":[]},{}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Transaction detail (full body if authenticated, redacted envelope if unauthenticated free-tier lookup).","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["completed","failed","pending"]},"capability_slug":{"type":"string"},"output":{"type":"object","nullable":true},"error":{"type":"string","nullable":true},"price_cents":{"type":"integer"},"latency_ms":{"type":"integer"},"provenance":{"type":"object","nullable":true},"transparency_marker":{"type":"string"},"data_jurisdiction":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"body_redacted":{"type":"boolean","description":"Present and true on unauth free-tier lookups; indicates body fields are redacted."},"body_redacted_reason":{"type":"string","description":"Human-readable explanation of why the body is redacted."}}}}}},"404":{"description":"Transaction not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"not_found","message":"Transaction not found."}}}}}}},"/v1/verify/{transactionId}":{"get":{"tags":["trust"],"summary":"Verify transaction integrity","description":"Verify the integrity of a transaction's audit trail by recomputing its SHA-256 hash and walking the hash chain backward to genesis. Public, no auth required.","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"depth","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":50,"default":20},"description":"Max chain depth to verify (default 20, max 50). F-A-012: values >50 are clamped to 50."}],"responses":{"200":{"description":"Verification result","content":{"application/json":{"schema":{"type":"object","properties":{"transaction_id":{"type":"string","format":"uuid"},"verified":{"type":"boolean","description":"True if hash is valid and chain has no broken links"},"hash_valid":{"type":"boolean","description":"True if recomputed hash matches stored hash"},"chain":{"type":"object","properties":{"length":{"type":"integer"},"verified_links":{"type":"integer"},"broken_links":{"type":"integer"},"reaches_genesis":{"type":"boolean"},"chain_start_date":{"type":"string","format":"date","nullable":true},"chain_end_date":{"type":"string","format":"date"},"max_depth":{"type":"integer"},"truncated":{"type":"boolean","description":"F-A-012: true when the chain walk stopped at max_depth before reaching genesis. False when the walk completed (reached genesis, hit a missing link, or the chain was shorter than max_depth)."},"truncated_reason":{"type":"string","nullable":true,"description":"Human-readable reason string (e.g. 'max_depth_reached (N=50)') when truncated=true, otherwise null."}}},"transaction_metadata":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time"},"capability_slug":{"type":"string","nullable":true},"transparency_marker":{"type":"string"},"data_jurisdiction":{"type":"string"},"status":{"type":"string"}}},"methodology_url":{"type":"string","format":"uri"}}}}}},"404":{"description":"Transaction not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"not_found","message":"Transaction not found."}}}},"429":{"description":"Rate limit exceeded (F-A-012: 10 req/min per IP). Retry after the window resets.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"rate_limited","message":"Rate limit exceeded (F-A-012: 10 req/min per IP). Retry after the window resets."}}}}}}},"/v1/suggest":{"post":{"tags":["suggest"],"summary":"AI capability suggestion","description":"Uses AI to find the best capability or solution for a natural language query. Returns ranked suggestions with confidence scores.","x-ratelimit":{"limit":20,"window":"1s","scope":"per IP"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["query"],"properties":{"query":{"type":"string","maxLength":500,"example":"validate a Swedish company's VAT number"},"limit":{"type":"integer","minimum":1,"maximum":10,"default":3}}}}}},"responses":{"200":{"description":"Suggestions","content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"suggestions":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["capability","solution"]},"description":{"type":"string"},"price_cents":{"type":"integer","nullable":true},"confidence":{"type":"number"}}}}}}}}},"400":{"description":"Missing query.","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object"}},"required":["error_code","message"]},"example":{"error_code":"invalid_request","message":"Missing query."}}}}}}},"/v1/suggest/typeahead":{"get":{"tags":["suggest"],"summary":"Typeahead search","description":"Fast keyword-based autocomplete for capability and solution names.","x-ratelimit":{"limit":30,"window":"1s","scope":"per IP"},"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","minLength":2},"description":"Search query"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":10,"default":6}},{"name":"geo","in":"query","required":false,"schema":{"type":"string"},"description":"Geography filter"},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["capability","solution"]}}],"responses":{"200":{"description":"Typeahead matches","content":{"application/json":{"schema":{"type":"object","properties":{"matches":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"price_cents":{"type":"integer","nullable":true},"category":{"type":"string"}}}}}}}}}}}},"/.well-known/agent-card.json":{"get":{"tags":["discovery"],"summary":"A2A Agent Card","description":"Dynamic Agent Card for the A2A (Agent-to-Agent) protocol. Lists all capabilities as agent skills.","responses":{"200":{"description":"Agent Card JSON"}}}},"/health":{"get":{"tags":["discovery"],"summary":"Health check","responses":{"200":{"description":"Service healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"}}}}}}}}},"/x402/product-search":{"get":{"tags":["x402"],"summary":"Product Search (x402)","description":"Search products on Google Shopping. Returns product listings with title, price, merchant, rating.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.162"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"query":"laptop","products":[],"search_url":"https://www.google.com/search?q=laptop&tbm=shop&hl=en","total_results_estimate":null},"properties":{"products":{"type":"array"},"total_results_estimate":{"type":"number"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":false,"schema":{"type":"string"}}]}},"/x402/whois-lookup":{"get":{"tags":["x402"],"summary":"WHOIS Lookup (x402)","description":"Perform a WHOIS lookup for a domain. Returns registrar, creation date, expiry date, name servers, registrant info, and raw WHOIS data.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"domain":"google.com","created":"1997-09-15T04:00:00Z","expires":"2028-09-14T04:00:00Z","updated":"2019-09-09T15:39:04Z","statuses":["clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited","clientTransferProhibited https://icann.org/epp#clientTransferProhibited","clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited","serverDeleteProhibited https://icann.org/epp#serverDeleteProhibited","serverTransferProhibited https://icann.org/epp#serverTransferProhibited","serverUpdateProhibited https://icann.org/epp#serverUpdateProhibited","//icann.org/epp"],"raw_whois":"   Domain Name: GOOGLE.COM\r\n   Registry Domain ID: 2138514_DOMAIN_COM-VRSN\r\n   Registrar WHOIS Server: whois.markmonitor.com\r\n   Registrar URL: http://www.markmonitor.com\r\n   Updated Date: 2019-09-09T15:39:04Z\r\n   Creation Date: 1997-09-15T04:00:00Z\r\n   Registry Expiry Date: 2028-09-14T04:00:00Z\r\n   Registrar: MarkMonitor Inc.\r\n   Registrar IANA ID: 292\r\n   Registrar Abuse Contact Email: abusecomplaints@markmonitor.com\r\n   Registrar Abuse Contact Phone: +1.2086851750\r\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\r\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\r\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\r\n   Domain Status: serverDeleteProhibited https://icann.org/epp#serverDeleteProhibited\r\n   Domain Status: serverTransferProhibited https://icann.org/epp#serverTransferProhibited\r\n   Domain Status: serverUpdateProhibited https://icann.org/epp#serverUpdateProhibited\r\n   Name Server: NS1.GOOGLE.COM\r\n   Name Server: NS2.GOOGLE.COM\r\n   Name Server: NS3.GOOGLE.COM\r\n   Name Server: NS4.GOOGLE.COM\r\n   DNSSEC: unsigned\r\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\r\n>>> Last update of whois database: 2026-04-03T00:33:57Z <<<\r\n\r\nFor more information on Whois status codes, please visit https://icann.org/epp\r\n\r\nNOTICE: The expiration date displayed in this record is the date the\r\nregistrar's sponsorship of the domain name registration in the registry is\r\ncurrently set to expire. This date does not necessarily reflect the expiration\r\ndate of the domain name registrant's agreement with the sponsoring\r\nregistrar.  Users may consult the sponsoring registrar's Whois database to\r\nview the registrar's reported date of expiration for this registration.\r\n\r\nTERMS OF USE: You are not authorized to access or query our Whois\r\ndatabase through the use of electronic processes that are high-volume and\r\nautomated except as reasonably necessary to register domain names or\r\nmodify existing registrations; the Data in VeriSign Global Registry\r\nServices' (\"VeriSign\") Whois database is provided by VeriSign for\r\ninformation purposes only, and to assist persons in obtaining information\r\nabout or related to a domain name registration record. VeriSign does not\r\nguarantee its accuracy. By submitting a Whois query, you agree to abide\r\nby the following terms of use: You agree that you may use this Data only\r\nfor lawful purposes and that under no circumstances will you use this Data\r\nto: (1) allow, enable, or otherwise support the transmission of mass\r\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\r\nor facsimile; or (2) enable high volume, automated, electronic processes\r\nthat apply to VeriSign (or its computer systems). The compilation,\r\nrepackaging, dissemination or other use of this Data is expressly\r\nprohibited without the prior written consent of VeriSign. You agree not to\r\nuse electronic processes","registrar":"whois.markmonitor.com","name_servers":["ns1.google.com","ns2.google.com","ns3.google.com","ns4.google.com"]},"properties":{"domain":{"type":"string"},"created":{"type":"string"},"expires":{"type":"string"},"registrar":{"type":"string"},"name_servers":{"type":"array"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Domain name (e.g. example.com)","schema":{"type":"string","description":"Domain name (e.g. example.com)"}}]}},"/x402/tech-stack-detect":{"get":{"tags":["x402"],"summary":"Tech Stack Detection (x402)","description":"Detect technologies used by a website. Identifies CMS, frameworks, analytics, CDN, payment providers, marketing tools from HTTP headers and HTML patterns. No Browserless needed.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.032"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"cdn":null,"cms":null,"url":"https://google.com","hosting":null,"analytics":["Google Analytics"],"confidence":"low","css_framework":null,"meta_framework":null,"frontend_framework":null,"other_technologies":["Custom JavaScript","Schema.org markup","Nonce-based CSP"]},"properties":{"cms":{"type":"string"},"url":{"type":"string"},"hosting":{"type":"string"},"analytics":{"type":"array"},"css_framework":{"type":"string"},"frontend_framework":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"url","in":"query","required":false,"description":"Website URL (e.g. https://stripe.com)","schema":{"type":"string","description":"Website URL (e.g. https://stripe.com)"}},{"name":"domain","in":"query","required":false,"description":"Domain name (e.g. stripe.com)","schema":{"type":"string","description":"Domain name (e.g. stripe.com)"}}]}},"/x402/company-id-detect":{"get":{"tags":["x402"],"summary":"Company ID Detection (x402)","description":"Identify the type and country of a company registration number. Detects Swedish org numbers, Finnish business IDs, German HRB numbers, LEIs, DUNS, and 20+ other formats. Pure algorithmic.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"input":"test","matches":[],"message":"Could not identify the format of this company ID.","detected":false},"properties":{"detected":{"type":"boolean"},"best_match":{"type":"object"},"all_matches":{"type":"array"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"id","in":"query","required":true,"description":"Company registration number to identify","schema":{"type":"string","description":"Company registration number to identify"}}]}},"/x402/base64-encode-url":{"get":{"tags":["x402"],"summary":"Base64 Encode URL (x402)","description":"Fetch a URL and return content as base64. Useful for embedding images, PDFs in API calls. Returns base64, content type, data URI.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.022"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"url":"https://httpbin.org/image/png","base64":"iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAfYUlEQVR4nN19d1hT2db+SiOhF8EgAqEIwUoZEUUQHBEUEPh0bCjq2EZHR1Ssn1zrjA5W1LHcYeQKthEbRUEUUUGUJoKiQgBFem9JIBCS8/tjhxAhxCREf3e+9+HhOTlnZ6113rP3PnuvvdYODsMwAGCz2ceOHUtKSsrJyens7CSTyRQKhdwDVVVVGo1mampqYmJiamqKDlRUVGAQwDCsvLy8sLCQwWAwGIzy8nImk8lisZhMJpPJ5PP56iIwMDCw7IGJiQmBQBiM6vb29tLS0o8fP378+BEdfPr0ic1md4qAw+GQyWQ7Ozs3N7egoCBVVVWB0ampqSYmJjLpw+PxdnZ2QUFBd+/ebW1txaRGeXn5mTNnpk+frqysLN+tKikpOTs7Hzt2rKSkRHq9ra2td+/eDQoKsrOzw+PxMmk0MTFJTU3FMAzHZrOtrKzKy8sBwNbUdDKdrqmiwuFyO7ncTi4XHbR3dZU3NHysq2vr6Ogvi0Ag2NnZeXl5LV++3MjISKy+/Pz86OjomJiY7Ozs/ldVyWSanp6GsrKGioo6haKhooIDYHI4be3t6H9ZQ4NY1WPGjPHz8/P19R0/frxYveXl5eHh4ffu3cvJyeHxeP0LaCgrmw4daqSrq6KkRCaRKCQSmURCB63t7WmFha8+fgQAIyOjgoIC3L59+/bs2QMAIYsWbfP1HZBeAABoYrFK6+s/1tW9KSt78vZtelFRJ5crvIrH42fOnLl69WovLy8CgcDj8dLS0mJiYmJiYkpKSkTlGOvqzrCxGWNkZDV8uNXw4YY6OjgcTrLq6ubmgqqqwqqqdxUVD/LyCquqRK8aGhr6+Pj4+fm5urqSSCQej3fv3r0///wzISGBz+cLi5FJpIkWFq6jR481NjYdOtRET09HTU2y3sMxMduvXAGAffv24aZMmZKSkjKORss9fBhZXNHY+Fdy8tN37/A4HB6Hw+PxZCLR1tR0kqWlg4WFNmq9AADA4XKfFxY+fvs2MTc3S4QOAwMDe3v7ly9fVlRUiCq2ptF87e397O1tTU0lm/hFFFRWxmRnR2dmZhQXo24XQVdX197ePjc3t7q6WnjS3tzcw8Zm6ujRjnQ6hUQCgGY2O53BSC8qesFgZBYXt7a3CwubUanLp07dMHOmurIyAGAYZrNt2+tPn6ZMmYKzsLAoKioKmDIlcv16AMj79Gn8jh3d4mosAOBwOLqBwbQxY9bNmDFy+HDRS2/Kyv5MSrqcmtrCZoueJxIIzlZWfhMm+Iwfb6KnN0iO+qOmpSU2Ozs6Kys5P1+0mgOAlqrqYmfn1W5uY42N0Rk+ht3LyTmdkJD05o0oxf2xctq0sJ9+QsdL/vjjUkqKhYUFET0BfS0tdGFPVBRiaoyRkY6aGo/P52NYC5tdWFXFxzAMwwoqKwsqK88+eOA+btxmb293a2v0xbHGxl52duGPHwv1GQ4Z8q85c+ZOmiRaGRUOfS2t1W5uq93cmB0dMdnZB27eZPTUKQ6Xi1oc+ng5NXX39esf6+qE30XP3tHS0khXF53h8fk309MLKisvJCf/umABVVNTSE51dTWxu7sbAAg9Lwgenw8AO//nfw4uXChqU1tHR1ZxcXpR0eO3b5Pz8zEMS8zLS8zLexAcPH3cuKLq6qDIyLiXL1FhTRWVHX5+gZ6eykpKX4ukflBXVl7s7LzA0THs0aN9N27UtrZyurp+OHZs6ujRJ5Yto2pqLv3jDz6GIfOWurhMHzdukqXlEHX1PnJWu7l5//67jpraUA0NdAaR093djaNSqbW1tWvd3c+uXAkALA7nU339KENDCT1uUXX1mcTEi0+esDich//618309D8fPuzm8wFAiUhc6+7+rzlz+hvxLcHicI7FxR2Ni2NxOACAw+H8nZza2ttL6+tXu7ktc3VVo1Ckl/bzX3+de/CASqXi6HR6YWGhv5PTlQ0bZDKIw+WW1tcvOnky5+NHZNB8R8ffFiwwo1JlkvP1UNfauu/mzbCkJC6PBwAWw4bFbttm9XlXKw0Wnz59JTWVTqfjNTU1AUDsKEYycj58cN2zBzHlPHJk5sGD1wID/3uYAoChmppnVqx4e/y4n709ABRVV0/ctSvh1StZ5aB3paampoAs0XenNLj45MnUfftqW1sBYLO39+M9e8abm8tqxLeBxbBhd7ZuPRIQgMfhWtvbvX///WhcnEwSesnS0tICgCYWS8pv8vj8oMjIH8+e7eruViISw9euPbZkCUHGCcS3x5ZZs+J27NBQVuZj2NZLl5aeOdNnnCEBiBwtLS08mqB8qK2VPO5AaG1v9zp06PjduwBA1dR8vGfPj1OnDuIWvik8bW1f/PYb6iginz513bu3pqXli9/CMOxDbS0AGBsb462srACgo6ursqlJ8tdKamsd/vd/E/PyAMDGxCTr998d6fTB38O3xChDw8yDB11HjwaA9KIi+507c0tLJX+lsqmpo6sLAOh0Op7ec8NFNTUSvoPqFJqR/TBxYtqBA0ZDhijkBr4xhqirPwgO/mn6dACoaGz0PHRIci0R0vIZWYzPp6ai4PH580+cQExtmTUratMmFTJZYeZ/c5AIhPOrVh0JCACA6uZmvyNHUN0RCyEtdDodT6VSUR8voWZtu3wZtb4fJk48vHjxFz0E/whsmTVrnYcHAGSXlPx49uxAxRAtWlpaVCoVDwCo23rBYIgtffHJE9Sj25iYRKxb93+DKYTQZcumjR0LANefP//11i2xZRAtiCI8ALi4uABAZnExs9/Q9Hlh4U9//gkAVE3N2O3b/9Gtrz+IBMKNzZtH6OsDwO6oqDuZmX0KMDs6MouLoYciPABMmzYNALp5vKfv3okWLW9snH30KBpP3d6y5R/ao0uGtqpq3PbtmioqGIYFnD6d9+mT6NWn794hHwyiCA8ATk5OZDIZAJLevBGWa+/s9Dt8GI3Rz69a9Y8bJUgPq+HD/964kYDHszs7fUJC6lpbhZcQIWQy2cnJCRBZysrKjo6OAPBIhKytly+jed9mb+9/0MhTPsywsTm8eDEAlDU0rAkLE55HhDg6OqLlFcE0BVWz/PJyNFotqq7+MykJAJxHjkRS/s9js7e3v5MTANzJzHxeWAgAH2pr88vLoYccEJI1d+5cdHDxyRMA2HH1ajePh8Phjv8T5n2KwtGAAPQG23r5MvRQASLkCIiwtLREzTLi6dNnBQW3MzIAYL6j43+tL+FrYJi29kZPTwB4Xlh448WLiKdPAcDJycnS0hIVwAnnz+Hh4StWrAAANQqFxeEoEYnvT5z4r/JPfQO0dXSYrV/fyGRSSCQOlwsAFy5cWL58ObraSxaLxRo2bBirx1ez0cvrxNKlg1fP4/PfVVSghTJ7c/NRhoYKbNf1bW1CyXo9LvNBIvTevU0REehYTU2turparWdtESfqmfnxxx8vXrwIAJoqKiWnTw/Sj87l8X69fftEfLyBvr6NjQ0A5ObmVtXUbPL0DJ49mzSIeAUMw84nJYXExbE4nO9sbQHg5atXahTK9lmz1ri5DXKO0dXdTQ8MLK2vB4CAgIDIyEjhJaJoOUNDQ3Sww89vkEwVVVfPO3XK0MKigMEwMDAQnq+qqvppxYoJwcFRGzZYDBsmh+Sq5ual58+34XAx9+9b9yzEAUBeXt7q5ctvZ2dHrFljoK0tt+VKROKBBQsCTp8GAPLnM5beFsHj8S5dugQAhkOGBHp6yq0MALg83txTp5auWxeXkFBVVbVw4UJzc3Nzc/OFCxdWVVXFJSQsXbdu7qlT3AGWciWAj2HzTp2y9/B4npnJ5XJFJXO53OeZmfYeHvNOneJL4ciUAH8nJ2saDQCuX7/eIuIg7G2GKSkpaAb079WrV7u5DUZZ8PXrbzo6Yu7dO3HixLZt29DSJAKRSDx8+PCmTZt8vbzGKiv/On++TJKP3b0bX1qa9ORJaGioWMkbN250c3X1NDEJ8vYezC3EZmf7Hj4MABEREUuWLEEne8kKCgo6fvw4kUCo++uvwawhd3V3665axSguLisrc3R07B+7QiAQnj9/bmxsbDliRENYmBKRKFZOf/D4/CErV756/bq+vl6CZD09Pdtx4xr/+mswbxIujzd05coWNnv27Nm3ehwSveJiYmIAwNnKapCr7W/KykyNjfX19UNCQsRG+fB4vJCQEH19fVNj4zdlZdJLfltebqCvb2pqKlmyqampgb7+2/Jy+e8BgEQgeNraAkBiYiKHw0EnBWTl5+ejqCC/CRMGowMAskpKbOzsACCzn8dDCHTJxs4u6/NQpC9LtrWVSrKtrUySxQKtNrLZ7KSkJHRGQFZ0dDQ68BkgKkx68Ph8FMYo9uELyvB4AEAgEHgiwVNfBIvDUVNXl0aymro6q6c6yI0ZNjZkEglEyBGQhdqgNY02+Kig8WZmuTk5AGBvbz9QGXQpNyfnOzMz6SV/99Uki4W6svL3Y8YAQFxcHIqIwwNARUUFil70HdgI6WFtYsIoKWlqatq8ebPY8SEOh9u8eXNTUxOjpMRGllhWO1PT9wwGm82WLJnNZr9nMOwGHS8HPS2xrq7uxYsXgMiKjY0VvTZIUEikVW5uG37+2cXFZffu3f0L7N6928XFZcPPP69yc0NxeFJChUyeO2nS9i1bJEvevmXL3EmTFOIB9xk/Hj0V1PLw0NMmjXV1Bx+9iPDbvHkZz55FRETs3bs3MTHx+++/19bW1tbW/v777xMTE/fu3RsREZHx7Nlv8+bJKvlEQEDcnTvx8fEDSY6Pj4+7c+dEQIBCbkRfS8thxAjoIQvH5/NVVVU7OjpWu7n9e/VqhegAgLxPn+aePGk/efIf585pi0w+mpub169dm5WWdiMwEI2SZUVaYeHckycXLl7826FDFJEwKw6Hs2vnzmuXL98IDJysOCf4b7dvB//9NwA0NTURy8vLOzo6AGDMAFHZfdHdDS0twGIBhwM8HhAIQKGAmhpoa4PI3NiaRss9dGjn9es0I6Nxo0d/N2ECALzMzHz99u2PU6fmHjokdzOZTKe/CQn5+eJFMxrNceLE7xwcAOBlRsbz9HRnOv1NSIiYWa10NouFMMqyoKAA9+DBA3d3dwBAAY9fsLSmBhobAb3vMQwwDHA4QH0tHg+6utDP/8Xu7Mz58EHoSLEzM1NV0HpaaX19VnFx1sePAGBvamo/YoT4V7nsNouioLJy5KZNABAeHk5k9KytfiEkjseDsjJgs4HPBz4feDyBVvSfQAAMg/p6aG8HGg1E5hmqZLLzyJHOI0fKRIQ0MNHTM9HTmztpksJtFoUZlUrA43l8fkFBAbGwsBDdkqGOjiTTkNbu7l6tfL5AKx4PfD4QCIDHA5sN5eUgY2fU1tHxgsEoqampb2trYDIbmEwA0FVX11VX19PQMNfXn2RpqSFH+ooibFYiEk309EpqawsLC4korp+mpyfJZ1ZTI9Da3Q08nkA3gEAxABAIAt0AwGRCYyN8aUUWw7Dk/PxbGRlphYX5ZWWSnSp4HG6MsfFkOn2Og8P3Y8ZI5d5TnM00Pb2S2tq6ujoik8kEAEnPjcuFpiZBTUYqhbpRlUb1mUAAHE5QprYWdHRggFuqb2v7z+PHYY8eFfcLRcHj8doaGrra2gDQ0Nzc3NaGhs58DHv96dPrT5/OPXgwQl9/1bRpP06dKsmPrFCbETlMJrOHLAn5cC0tAmU8nuApCXXz+YDHC7QioL4Th4OODugnk8fnn05I2B0VJQyqUKFQHG1tJ9vaOtra2lhZ6WppiaZs8fn8hpaW3IKC569epb169fzVq3YOp7imZvuVK7/evr1/3rxfZs4U74dRnM1CclgsFhGtUKhLiAtnMgWtXfRBcbm9ipG5SB86iWHQ1tZHcXZJyap//1sYaTd6xIg18+cv8fHRGDjVCI/HD9XRcXd0dHd0BIA2FisyNvb89etvi4uZHR2bIiIinj4N++knMet1CrIZAZHDZDLxX65ZnZ0APS9dgM+emLBHQH+ixZhMURm3MzKcd+9GTFnQaPHnz+fHxKz395fAVH9oqKmt9/fPj4mJP3/egkYDgNzSUufdu9Eqp8Jt7tWroiIgC3UKkjpMxLrwGAE9N/SiEXtVpMM+m5g49/hxDpdLIhIP/PLLm+jomc7OX+ZmYMx0dn4THX3gl19IRCKHy517/PjZxETF2iwKnKAgH6+urg4AzC96f1C/KOwgUAVGHaSwU0R9AfrY064vp6auu3CBj2Hqqqr3zp0LXrOGrIiEHrKSUvCaNffOnVNXVeVj2LoLFy6npirK5j5A5KirqwvIapOQNEAmC6Tj8YL/eDwQiUAigZISkEhAJApOCsvgcKCmBgBF1dVrw8IAYIiWVkpk5HRHR/npEYfpjo4pkZFDtLQAYG1YWJEwx3AQNvcHIqeXLEk1S02tVxwSTSAI/ojE3uM+ZVRVeXz+gtBQFoeDw+EiDh60sbJSLFMINlZWEQcP4nA4FoezIDRU4HqV12axKmSpWTo6gocgqolIBCWl3v+iduDxoKICZPLtjAwU4bUxIMDLxeUrECWAl4vLxoAAAMj5+FHQ2ctrs1j5vTULLReXNTQMaIuSEmhr9z4cVJlRTUZahR+FT8zICABO378PADqamr8GBiqcoD74NTBQR1NTqFRum8WivLERAHR1dfEonqato6O6uXlAW/T1QVlZ8AREn4moPtQLEAgwfDiQSG/KylLfvweAVT/8oCJLcp98UKFQVv3wAwCkvn8vWF6T3Waxkrt5PBTgZ2lpiRcGHxUMnDQAOByYmoKKChCJgj8lpd4qjQ7Q8fDhoK0NAMKVqBVz5iiQFAkQKhKolt1msSitr0dhBlZWVr1kFUogCwAIBDAzg6FDBQrQY0F/BAIoKYGKClhaQo/rAs37lEgkcyl9ioOGuZGREokkVC2HzWIhzLi2srIimpiYKCkpdXV1vft8WwExwOGASoUhQ6C9HVpbgcUCHA7IZFBTAzU1oFBEZ6ElNTUAQDMwkHV7DrmBx+NpBgZFnz6ViM7PZbFZLIS00Ol0IoFAcHBwSE1NfZCXJ5VRRCJoaMCXIsdQ1SX2c9o2trSciIy8k5T0P25um5YsGdKT9S8lGltaQi5cuP3w4ezp07ctX677efNB6sQE50hns1igzFcajTZ06FAiAPj5+aWmphZWVRVUVsqRQiwWKG2htKoKwzBR99OB8+dPXroEAO9KSljt7aE7dsgkNuTChSPh4QBwJDycx+Md27ZNeAnDsNKqKqFqhaCZzU55/x4AfHx8AC2F+fn5oWsx4jaKkQ/mVCoAdHA4FbW1oudviEzibvSZ0EmBWw8eCI+vo1FCDypqazs4HKFqheDuy5cowwJRhAcAMzOzMWPGAED0wAEXskK41HypZwUXwV1kxuMu++zHffJk4bHn57NxoSKZVrklIzorCwC0tbWnTJkCwlgHxFxGcbE0mbDSwMHCAhl95to1rkjIWfCaNXOmT6eQyXOmTw9es0ZWsTtWrlzo6ammorLQ03NXz/YnAMDt7j5z7RoA2JiYOFhYKOAGADhcbmJuLgB4eXkRiUQQkuXr6wsAGIbFKq4l/jJzJgBU1dUd7wn+BQBzI6OboaFtmZk3Q0PlGFXQDAyuHjnSmpFx9cgRmkio6vGIiKq6OqFSheDh69fszk7oIQeEZI0fPx5F36KKpxD4OzmhMPrgkyfTP3/VkqSO9hOLPsOR9Ly84JMnAcCMSkUpJQoB6pTIZPKMGTMEeoXXUIefnJ/fP+tQPlBIpL83biQRCN083sKtW8sl5mDLjfKamoVbt3bzeCQC4e+NG2WKNJEAPoahrXWmTZsmjIPvJQt1W51crgLfifbm5gf9/QGgtLJykr//6wGSZeXGawZjkr9/aWUlABz097dXXPLM4/z8+rY2EBkqgChZrq6uVCoVAA7cvDnQ/llyIMjbe6uPDwBU1tY6BwRclnG3Dgm4HBfnHBBQWVsLAFt9fAYZntwHu6OiAIBCofiK7FbXSxaJREJBT4zq6rBHjxSlFYfDHV68+MTSpTgcro3FCtixw3XZsvyiosHIzC8qcl22LGDHjjYWC4fDnVi6VLFp7jFZWSiLbsOGDUOHDhWe/ywdhcvljho1qri4mKqpWXz6tEz7Jn0RsdnZa8PCqpqbAe0O6Oy8Zv58T2dn6SePfD4/PjX1/PXrCampaJ3FQFv73KpVg4+DFQWPzx8bFPS+slJbW/vDhw9aIhMyXJ9dVaKioubPnw8Ae+fO3dOTZ6coMDs6dkdFnU5IEMbdGunrezg5Tba1dbSxsRxgMMkoLX2em5v26lXis2fCtwQBj/9l5sz98+apy7uF50C4kJy88vx5ADh69GhQUJDopb5kYRg2YcKE7OxsNQql5PTpoZqaijUFAN5VVPxx//6V1NQ++1ApUyhDdXR0tbV1tbQAoKGlpaG5ua6pqePz9QENZeVFzs7rZ8wY1ZNppEB0dHVZbNhQ2dREo9EKCwv75O70JQsAkpOTUaLrzx4eZ1asULhBCOzOzr/T0m5lZLxgMPrsqSgWWqqqkywt5zg4LJg8WVERXv3xe3T0zqtXASAyMjKgX6ylGLIAYMaMGYmJiSQC4e3x4/LlbgHAzqtXnxUUBM+Z4yGSu9UfGIa9rahIKygoqa0VhBy1tQGAroaGIOSISp1sZTVa4s56AHAvJ2f7lSs+48f32a1QejSxWOa//NLCZltbW+fk5PTvTMWTlZeXZ2tri2GYn739na1b5dNtGRiIFvKWuboeX7r06+0p2cxmB/7nP5dSUgDA1tQ0JyREPjlrw8LOP3wIAPfv3/fw8OhfQPybyNraetGiRQAQnZUl6z5mQtwKCkLhzxefPBm1aZMCJ1KiiMnKGrVpE2LKwcLimrwrSeGPHyOm3NzcxDIFA9UsAGhubnZwcCgqKsLjcHE7dqCsH1nRzeMdiY3dd/Mm2gbN+7vvQhYtUlTHXFBZuePq1ZisLACgkEj758/f7O0tXybYs4KCafv3d3V36+npZWZmDrQt94BkAUBBQcHEiRNbW1s1lJVf/Pab3Df5vrJyxblzaAccAh6/fOrUffPmDRtEsmlNS8ueqKgLycloCOJIp4evXUsXcULIhLKGBvudO+taW0kk0qNHj5wHDlqRRBYAJCQkeHt78/l8Myo18+BBuXOB+Rh2ITl5b1QUGpSqkslr3N2XTJkyTsbo0/eVleHJyecePEDOk+E6Ovvnz1/m6oqXd/jO7uycHByMtqAJCwtbuXKlhMJfIAsAjh49unXrVgBwHT36QXDwYBLBO7q6Qu/dC4mJEW5eOcrQ0N/JacHkyZJ9wY1M5rW0tMinT4XLkRrKyjv8/DZ6eQ1mk10Mw344fhyt+AcGBoaGhkou/2WyAGDp0qUoCf2n6dPPr1olt3EITSzWsbi4yJSUisZG4UlzKnWEvr4ZlWpOpZrr66tTKMU1NYzqakZ1NaOq6kNdnXBub6CtvcTFJWjWLN1Bb7K7Jypq/82bAODu7h4fH//FHzCQiqzOzk5XV9f09HQAOBIQsGXWrEFaCQB8DHv67t2V1NSb6enS7JKqQibPnjBhiYvLtLFj5W50oriUkrL0zBkMw+h0enp6upYUi3JSkQUANTU19vb2KA58nYdH6LJl/dcE5UMnl/vw9eu3FRUfamtLams/1NaWNTTwMWyYltYIfX1zfX1zKtVq+HAPa2tFTewxDNt748aBW7cwDNPS0srIyBAuy0uGtGQBQG5urqenJ9oSfdrYsTc2b/5K48xuHo/L432lHb/ZnZ1L/vgD9VNaWlrR0dEuUodDyUAWAFRWVvr5+aFMzhH6+nHbtytqUfbboKyhwSckBL376HR6bGyslHUKQbYh3PDhw1NSUpAPp7imZuKuXfdzc2WS8P8RzwoK7HfuREy5u7unp6fLxBTIShYAKCsr//333wcOHMD17OuM9pr8L0f448fT9u9HW9QFBgbGx8dL06P3gWzNUBR37twJCAhgs9kA4O/kdDQgYDCD8q+HJhZr17VraN5HIpHOnj0reeQpAfKTBQB5eXk+Pj5lZWUAoEImb/T03O7nJ0/61tdBR1fXyfj4kJgY5C/T09O7deuWhNnMFzEosgCgrq5uzZo1d+7cQR+HqKsHz579s4eH9JumfA3w+Pz/PH6898YN4b7Jbm5uYWFhsv5wVR8MliyE58+fb9u2LS0tDX000dM7sGCBv5OTQkaPsiImK2vn1avvKyvRR2tr65CQkIG8LjJBMWQhREdH79y5s6CgAH20ptH2z58/09Z2MNNJ6cHHsMf5+bujotAqFgDQaLQDBw4sWrRIUdGHiiQLAHg83oULF/bu3Sv8QSUtVVVPW1s/e/sZNjYKX4kBAA6X+/D16+jMzLiXL9EaMgBoa2vv2rVr/fr1ZIV66xVMFgKbzT5x4sThw4eZInlWZBLp+zFj/OztfcaP15f9td0HzWz23Zcvo7OyEnNzkbsGgUKhbNiwYefOnXKMDL6Ir0IWQktLS1xcXExMTGJiIkvkNzJwOJzDiBHe33031tjYctgwMypVmrdBN49XWl/PqK5+V1GR8OpVyvv3ojEGFArFzc3N19fX19dX7yv8yJbA8q9HlhCdnZ3JycmxsbGxsbFV/QLICXi8iZ6e5J/sK29s/FBb2z+yVldX19vb29fX193dfZA/TikNvgVZQmAYlp2dHRsbGxMT80ZkH2dZYWFhgSqRo6PjNwsdh29MlihaWloYDAb6mdHCwsKKigopf2bU0tLy6zU0yfh/uud3wphTbKMAAAAASUVORK5CYII=","data_uri":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAfYUlEQVR4nN19d1hT2db+SiOhF8EgAqEIwUoZEUUQHBEUEPh0bCjq2EZHR1Ssn1zrjA5W1LHcYeQKthEbRUEUUUGUJoKiQgBFem9JIBCS8/tjhxAhxCREf3e+9+HhOTlnZ6113rP3PnuvvdYODsMwAGCz2ceOHUtKSsrJyens7CSTyRQKhdwDVVVVGo1mampqYmJiamqKDlRUVGAQwDCsvLy8sLCQwWAwGIzy8nImk8lisZhMJpPJ5PP56iIwMDCw7IGJiQmBQBiM6vb29tLS0o8fP378+BEdfPr0ic1md4qAw+GQyWQ7Ozs3N7egoCBVVVWB0ampqSYmJjLpw+PxdnZ2QUFBd+/ebW1txaRGeXn5mTNnpk+frqysLN+tKikpOTs7Hzt2rKSkRHq9ra2td+/eDQoKsrOzw+PxMmk0MTFJTU3FMAzHZrOtrKzKy8sBwNbUdDKdrqmiwuFyO7ncTi4XHbR3dZU3NHysq2vr6Ogvi0Ag2NnZeXl5LV++3MjISKy+/Pz86OjomJiY7Ozs/ldVyWSanp6GsrKGioo6haKhooIDYHI4be3t6H9ZQ4NY1WPGjPHz8/P19R0/frxYveXl5eHh4ffu3cvJyeHxeP0LaCgrmw4daqSrq6KkRCaRKCQSmURCB63t7WmFha8+fgQAIyOjgoIC3L59+/bs2QMAIYsWbfP1HZBeAABoYrFK6+s/1tW9KSt78vZtelFRJ5crvIrH42fOnLl69WovLy8CgcDj8dLS0mJiYmJiYkpKSkTlGOvqzrCxGWNkZDV8uNXw4YY6OjgcTrLq6ubmgqqqwqqqdxUVD/LyCquqRK8aGhr6+Pj4+fm5urqSSCQej3fv3r0///wzISGBz+cLi5FJpIkWFq6jR481NjYdOtRET09HTU2y3sMxMduvXAGAffv24aZMmZKSkjKORss9fBhZXNHY+Fdy8tN37/A4HB6Hw+PxZCLR1tR0kqWlg4WFNmq9AADA4XKfFxY+fvs2MTc3S4QOAwMDe3v7ly9fVlRUiCq2ptF87e397O1tTU0lm/hFFFRWxmRnR2dmZhQXo24XQVdX197ePjc3t7q6WnjS3tzcw8Zm6ujRjnQ6hUQCgGY2O53BSC8qesFgZBYXt7a3CwubUanLp07dMHOmurIyAGAYZrNt2+tPn6ZMmYKzsLAoKioKmDIlcv16AMj79Gn8jh3d4mosAOBwOLqBwbQxY9bNmDFy+HDRS2/Kyv5MSrqcmtrCZoueJxIIzlZWfhMm+Iwfb6KnN0iO+qOmpSU2Ozs6Kys5P1+0mgOAlqrqYmfn1W5uY42N0Rk+ht3LyTmdkJD05o0oxf2xctq0sJ9+QsdL/vjjUkqKhYUFET0BfS0tdGFPVBRiaoyRkY6aGo/P52NYC5tdWFXFxzAMwwoqKwsqK88+eOA+btxmb293a2v0xbHGxl52duGPHwv1GQ4Z8q85c+ZOmiRaGRUOfS2t1W5uq93cmB0dMdnZB27eZPTUKQ6Xi1oc+ng5NXX39esf6+qE30XP3tHS0khXF53h8fk309MLKisvJCf/umABVVNTSE51dTWxu7sbAAg9Lwgenw8AO//nfw4uXChqU1tHR1ZxcXpR0eO3b5Pz8zEMS8zLS8zLexAcPH3cuKLq6qDIyLiXL1FhTRWVHX5+gZ6eykpKX4ukflBXVl7s7LzA0THs0aN9N27UtrZyurp+OHZs6ujRJ5Yto2pqLv3jDz6GIfOWurhMHzdukqXlEHX1PnJWu7l5//67jpraUA0NdAaR093djaNSqbW1tWvd3c+uXAkALA7nU339KENDCT1uUXX1mcTEi0+esDich//618309D8fPuzm8wFAiUhc6+7+rzlz+hvxLcHicI7FxR2Ni2NxOACAw+H8nZza2ttL6+tXu7ktc3VVo1Ckl/bzX3+de/CASqXi6HR6YWGhv5PTlQ0bZDKIw+WW1tcvOnky5+NHZNB8R8ffFiwwo1JlkvP1UNfauu/mzbCkJC6PBwAWw4bFbttm9XlXKw0Wnz59JTWVTqfjNTU1AUDsKEYycj58cN2zBzHlPHJk5sGD1wID/3uYAoChmppnVqx4e/y4n709ABRVV0/ctSvh1StZ5aB3paampoAs0XenNLj45MnUfftqW1sBYLO39+M9e8abm8tqxLeBxbBhd7ZuPRIQgMfhWtvbvX///WhcnEwSesnS0tICgCYWS8pv8vj8oMjIH8+e7eruViISw9euPbZkCUHGCcS3x5ZZs+J27NBQVuZj2NZLl5aeOdNnnCEBiBwtLS08mqB8qK2VPO5AaG1v9zp06PjduwBA1dR8vGfPj1OnDuIWvik8bW1f/PYb6iginz513bu3pqXli9/CMOxDbS0AGBsb462srACgo6ursqlJ8tdKamsd/vd/E/PyAMDGxCTr998d6fTB38O3xChDw8yDB11HjwaA9KIi+507c0tLJX+lsqmpo6sLAOh0Op7ec8NFNTUSvoPqFJqR/TBxYtqBA0ZDhijkBr4xhqirPwgO/mn6dACoaGz0PHRIci0R0vIZWYzPp6ai4PH580+cQExtmTUratMmFTJZYeZ/c5AIhPOrVh0JCACA6uZmvyNHUN0RCyEtdDodT6VSUR8voWZtu3wZtb4fJk48vHjxFz0E/whsmTVrnYcHAGSXlPx49uxAxRAtWlpaVCoVDwCo23rBYIgtffHJE9Sj25iYRKxb93+DKYTQZcumjR0LANefP//11i2xZRAtiCI8ALi4uABAZnExs9/Q9Hlh4U9//gkAVE3N2O3b/9Gtrz+IBMKNzZtH6OsDwO6oqDuZmX0KMDs6MouLoYciPABMmzYNALp5vKfv3okWLW9snH30KBpP3d6y5R/ao0uGtqpq3PbtmioqGIYFnD6d9+mT6NWn794hHwyiCA8ATk5OZDIZAJLevBGWa+/s9Dt8GI3Rz69a9Y8bJUgPq+HD/964kYDHszs7fUJC6lpbhZcQIWQy2cnJCRBZysrKjo6OAPBIhKytly+jed9mb+9/0MhTPsywsTm8eDEAlDU0rAkLE55HhDg6OqLlFcE0BVWz/PJyNFotqq7+MykJAJxHjkRS/s9js7e3v5MTANzJzHxeWAgAH2pr88vLoYccEJI1d+5cdHDxyRMA2HH1ajePh8Phjv8T5n2KwtGAAPQG23r5MvRQASLkCIiwtLREzTLi6dNnBQW3MzIAYL6j43+tL+FrYJi29kZPTwB4Xlh448WLiKdPAcDJycnS0hIVwAnnz+Hh4StWrAAANQqFxeEoEYnvT5z4r/JPfQO0dXSYrV/fyGRSSCQOlwsAFy5cWL58ObraSxaLxRo2bBirx1ez0cvrxNKlg1fP4/PfVVSghTJ7c/NRhoYKbNf1bW1CyXo9LvNBIvTevU0REehYTU2turparWdtESfqmfnxxx8vXrwIAJoqKiWnTw/Sj87l8X69fftEfLyBvr6NjQ0A5ObmVtXUbPL0DJ49mzSIeAUMw84nJYXExbE4nO9sbQHg5atXahTK9lmz1ri5DXKO0dXdTQ8MLK2vB4CAgIDIyEjhJaJoOUNDQ3Sww89vkEwVVVfPO3XK0MKigMEwMDAQnq+qqvppxYoJwcFRGzZYDBsmh+Sq5ual58+34XAx9+9b9yzEAUBeXt7q5ctvZ2dHrFljoK0tt+VKROKBBQsCTp8GAPLnM5beFsHj8S5dugQAhkOGBHp6yq0MALg83txTp5auWxeXkFBVVbVw4UJzc3Nzc/OFCxdWVVXFJSQsXbdu7qlT3AGWciWAj2HzTp2y9/B4npnJ5XJFJXO53OeZmfYeHvNOneJL4ciUAH8nJ2saDQCuX7/eIuIg7G2GKSkpaAb079WrV7u5DUZZ8PXrbzo6Yu7dO3HixLZt29DSJAKRSDx8+PCmTZt8vbzGKiv/On++TJKP3b0bX1qa9ORJaGioWMkbN250c3X1NDEJ8vYezC3EZmf7Hj4MABEREUuWLEEne8kKCgo6fvw4kUCo++uvwawhd3V3665axSguLisrc3R07B+7QiAQnj9/bmxsbDliRENYmBKRKFZOf/D4/CErV756/bq+vl6CZD09Pdtx4xr/+mswbxIujzd05coWNnv27Nm3ehwSveJiYmIAwNnKapCr7W/KykyNjfX19UNCQsRG+fB4vJCQEH19fVNj4zdlZdJLfltebqCvb2pqKlmyqampgb7+2/Jy+e8BgEQgeNraAkBiYiKHw0EnBWTl5+ejqCC/CRMGowMAskpKbOzsACCzn8dDCHTJxs4u6/NQpC9LtrWVSrKtrUySxQKtNrLZ7KSkJHRGQFZ0dDQ68BkgKkx68Ph8FMYo9uELyvB4AEAgEHgiwVNfBIvDUVNXl0aymro6q6c6yI0ZNjZkEglEyBGQhdqgNY02+Kig8WZmuTk5AGBvbz9QGXQpNyfnOzMz6SV/99Uki4W6svL3Y8YAQFxcHIqIwwNARUUFil70HdgI6WFtYsIoKWlqatq8ebPY8SEOh9u8eXNTUxOjpMRGllhWO1PT9wwGm82WLJnNZr9nMOwGHS8HPS2xrq7uxYsXgMiKjY0VvTZIUEikVW5uG37+2cXFZffu3f0L7N6928XFZcPPP69yc0NxeFJChUyeO2nS9i1bJEvevmXL3EmTFOIB9xk/Hj0V1PLw0NMmjXV1Bx+9iPDbvHkZz55FRETs3bs3MTHx+++/19bW1tbW/v777xMTE/fu3RsREZHx7Nlv8+bJKvlEQEDcnTvx8fEDSY6Pj4+7c+dEQIBCbkRfS8thxAjoIQvH5/NVVVU7OjpWu7n9e/VqhegAgLxPn+aePGk/efIf585pi0w+mpub169dm5WWdiMwEI2SZUVaYeHckycXLl7826FDFJEwKw6Hs2vnzmuXL98IDJysOCf4b7dvB//9NwA0NTURy8vLOzo6AGDMAFHZfdHdDS0twGIBhwM8HhAIQKGAmhpoa4PI3NiaRss9dGjn9es0I6Nxo0d/N2ECALzMzHz99u2PU6fmHjokdzOZTKe/CQn5+eJFMxrNceLE7xwcAOBlRsbz9HRnOv1NSIiYWa10NouFMMqyoKAA9+DBA3d3dwBAAY9fsLSmBhobAb3vMQwwDHA4QH0tHg+6utDP/8Xu7Mz58EHoSLEzM1NV0HpaaX19VnFx1sePAGBvamo/YoT4V7nsNouioLJy5KZNABAeHk5k9KytfiEkjseDsjJgs4HPBz4feDyBVvSfQAAMg/p6aG8HGg1E5hmqZLLzyJHOI0fKRIQ0MNHTM9HTmztpksJtFoUZlUrA43l8fkFBAbGwsBDdkqGOjiTTkNbu7l6tfL5AKx4PfD4QCIDHA5sN5eUgY2fU1tHxgsEoqampb2trYDIbmEwA0FVX11VX19PQMNfXn2RpqSFH+ooibFYiEk309EpqawsLC4korp+mpyfJZ1ZTI9Da3Q08nkA3gEAxABAIAt0AwGRCYyN8aUUWw7Dk/PxbGRlphYX5ZWWSnSp4HG6MsfFkOn2Og8P3Y8ZI5d5TnM00Pb2S2tq6ujoik8kEAEnPjcuFpiZBTUYqhbpRlUb1mUAAHE5QprYWdHRggFuqb2v7z+PHYY8eFfcLRcHj8doaGrra2gDQ0Nzc3NaGhs58DHv96dPrT5/OPXgwQl9/1bRpP06dKsmPrFCbETlMJrOHLAn5cC0tAmU8nuApCXXz+YDHC7QioL4Th4OODugnk8fnn05I2B0VJQyqUKFQHG1tJ9vaOtra2lhZ6WppiaZs8fn8hpaW3IKC569epb169fzVq3YOp7imZvuVK7/evr1/3rxfZs4U74dRnM1CclgsFhGtUKhLiAtnMgWtXfRBcbm9ipG5SB86iWHQ1tZHcXZJyap//1sYaTd6xIg18+cv8fHRGDjVCI/HD9XRcXd0dHd0BIA2FisyNvb89etvi4uZHR2bIiIinj4N++knMet1CrIZAZHDZDLxX65ZnZ0APS9dgM+emLBHQH+ixZhMURm3MzKcd+9GTFnQaPHnz+fHxKz395fAVH9oqKmt9/fPj4mJP3/egkYDgNzSUufdu9Eqp8Jt7tWroiIgC3UKkjpMxLrwGAE9N/SiEXtVpMM+m5g49/hxDpdLIhIP/PLLm+jomc7OX+ZmYMx0dn4THX3gl19IRCKHy517/PjZxETF2iwKnKAgH6+urg4AzC96f1C/KOwgUAVGHaSwU0R9AfrY064vp6auu3CBj2Hqqqr3zp0LXrOGrIiEHrKSUvCaNffOnVNXVeVj2LoLFy6npirK5j5A5KirqwvIapOQNEAmC6Tj8YL/eDwQiUAigZISkEhAJApOCsvgcKCmBgBF1dVrw8IAYIiWVkpk5HRHR/npEYfpjo4pkZFDtLQAYG1YWJEwx3AQNvcHIqeXLEk1S02tVxwSTSAI/ojE3uM+ZVRVeXz+gtBQFoeDw+EiDh60sbJSLFMINlZWEQcP4nA4FoezIDRU4HqV12axKmSpWTo6gocgqolIBCWl3v+iduDxoKICZPLtjAwU4bUxIMDLxeUrECWAl4vLxoAAAMj5+FHQ2ctrs1j5vTULLReXNTQMaIuSEmhr9z4cVJlRTUZahR+FT8zICABO378PADqamr8GBiqcoD74NTBQR1NTqFRum8WivLERAHR1dfEonqato6O6uXlAW/T1QVlZ8AREn4moPtQLEAgwfDiQSG/KylLfvweAVT/8oCJLcp98UKFQVv3wAwCkvn8vWF6T3Waxkrt5PBTgZ2lpiRcGHxUMnDQAOByYmoKKChCJgj8lpd4qjQ7Q8fDhoK0NAMKVqBVz5iiQFAkQKhKolt1msSitr0dhBlZWVr1kFUogCwAIBDAzg6FDBQrQY0F/BAIoKYGKClhaQo/rAs37lEgkcyl9ioOGuZGREokkVC2HzWIhzLi2srIimpiYKCkpdXV1vft8WwExwOGASoUhQ6C9HVpbgcUCHA7IZFBTAzU1oFBEZ6ElNTUAQDMwkHV7DrmBx+NpBgZFnz6ViM7PZbFZLIS00Ol0IoFAcHBwSE1NfZCXJ5VRRCJoaMCXIsdQ1SX2c9o2trSciIy8k5T0P25um5YsGdKT9S8lGltaQi5cuP3w4ezp07ctX677efNB6sQE50hns1igzFcajTZ06FAiAPj5+aWmphZWVRVUVsqRQiwWKG2htKoKwzBR99OB8+dPXroEAO9KSljt7aE7dsgkNuTChSPh4QBwJDycx+Md27ZNeAnDsNKqKqFqhaCZzU55/x4AfHx8AC2F+fn5oWsx4jaKkQ/mVCoAdHA4FbW1oudviEzibvSZ0EmBWw8eCI+vo1FCDypqazs4HKFqheDuy5cowwJRhAcAMzOzMWPGAED0wAEXskK41HypZwUXwV1kxuMu++zHffJk4bHn57NxoSKZVrklIzorCwC0tbWnTJkCwlgHxFxGcbE0mbDSwMHCAhl95to1rkjIWfCaNXOmT6eQyXOmTw9es0ZWsTtWrlzo6ammorLQ03NXz/YnAMDt7j5z7RoA2JiYOFhYKOAGADhcbmJuLgB4eXkRiUQQkuXr6wsAGIbFKq4l/jJzJgBU1dUd7wn+BQBzI6OboaFtmZk3Q0PlGFXQDAyuHjnSmpFx9cgRmkio6vGIiKq6OqFSheDh69fszk7oIQeEZI0fPx5F36KKpxD4OzmhMPrgkyfTP3/VkqSO9hOLPsOR9Ly84JMnAcCMSkUpJQoB6pTIZPKMGTMEeoXXUIefnJ/fP+tQPlBIpL83biQRCN083sKtW8sl5mDLjfKamoVbt3bzeCQC4e+NG2WKNJEAPoahrXWmTZsmjIPvJQt1W51crgLfifbm5gf9/QGgtLJykr//6wGSZeXGawZjkr9/aWUlABz097dXXPLM4/z8+rY2EBkqgChZrq6uVCoVAA7cvDnQ/llyIMjbe6uPDwBU1tY6BwRclnG3Dgm4HBfnHBBQWVsLAFt9fAYZntwHu6OiAIBCofiK7FbXSxaJREJBT4zq6rBHjxSlFYfDHV68+MTSpTgcro3FCtixw3XZsvyiosHIzC8qcl22LGDHjjYWC4fDnVi6VLFp7jFZWSiLbsOGDUOHDhWe/ywdhcvljho1qri4mKqpWXz6tEz7Jn0RsdnZa8PCqpqbAe0O6Oy8Zv58T2dn6SePfD4/PjX1/PXrCampaJ3FQFv73KpVg4+DFQWPzx8bFPS+slJbW/vDhw9aIhMyXJ9dVaKioubPnw8Ae+fO3dOTZ6coMDs6dkdFnU5IEMbdGunrezg5Tba1dbSxsRxgMMkoLX2em5v26lXis2fCtwQBj/9l5sz98+apy7uF50C4kJy88vx5ADh69GhQUJDopb5kYRg2YcKE7OxsNQql5PTpoZqaijUFAN5VVPxx//6V1NQ++1ApUyhDdXR0tbV1tbQAoKGlpaG5ua6pqePz9QENZeVFzs7rZ8wY1ZNppEB0dHVZbNhQ2dREo9EKCwv75O70JQsAkpOTUaLrzx4eZ1asULhBCOzOzr/T0m5lZLxgMPrsqSgWWqqqkywt5zg4LJg8WVERXv3xe3T0zqtXASAyMjKgX6ylGLIAYMaMGYmJiSQC4e3x4/LlbgHAzqtXnxUUBM+Z4yGSu9UfGIa9rahIKygoqa0VhBy1tQGAroaGIOSISp1sZTVa4s56AHAvJ2f7lSs+48f32a1QejSxWOa//NLCZltbW+fk5PTvTMWTlZeXZ2tri2GYn739na1b5dNtGRiIFvKWuboeX7r06+0p2cxmB/7nP5dSUgDA1tQ0JyREPjlrw8LOP3wIAPfv3/fw8OhfQPybyNraetGiRQAQnZUl6z5mQtwKCkLhzxefPBm1aZMCJ1KiiMnKGrVpE2LKwcLimrwrSeGPHyOm3NzcxDIFA9UsAGhubnZwcCgqKsLjcHE7dqCsH1nRzeMdiY3dd/Mm2gbN+7vvQhYtUlTHXFBZuePq1ZisLACgkEj758/f7O0tXybYs4KCafv3d3V36+npZWZmDrQt94BkAUBBQcHEiRNbW1s1lJVf/Pab3Df5vrJyxblzaAccAh6/fOrUffPmDRtEsmlNS8ueqKgLycloCOJIp4evXUsXcULIhLKGBvudO+taW0kk0qNHj5wHDlqRRBYAJCQkeHt78/l8Myo18+BBuXOB+Rh2ITl5b1QUGpSqkslr3N2XTJkyTsbo0/eVleHJyecePEDOk+E6Ovvnz1/m6oqXd/jO7uycHByMtqAJCwtbuXKlhMJfIAsAjh49unXrVgBwHT36QXDwYBLBO7q6Qu/dC4mJEW5eOcrQ0N/JacHkyZJ9wY1M5rW0tMinT4XLkRrKyjv8/DZ6eQ1mk10Mw344fhyt+AcGBoaGhkou/2WyAGDp0qUoCf2n6dPPr1olt3EITSzWsbi4yJSUisZG4UlzKnWEvr4ZlWpOpZrr66tTKMU1NYzqakZ1NaOq6kNdnXBub6CtvcTFJWjWLN1Bb7K7Jypq/82bAODu7h4fH//FHzCQiqzOzk5XV9f09HQAOBIQsGXWrEFaCQB8DHv67t2V1NSb6enS7JKqQibPnjBhiYvLtLFj5W50oriUkrL0zBkMw+h0enp6upYUi3JSkQUANTU19vb2KA58nYdH6LJl/dcE5UMnl/vw9eu3FRUfamtLams/1NaWNTTwMWyYltYIfX1zfX1zKtVq+HAPa2tFTewxDNt748aBW7cwDNPS0srIyBAuy0uGtGQBQG5urqenJ9oSfdrYsTc2b/5K48xuHo/L432lHb/ZnZ1L/vgD9VNaWlrR0dEuUodDyUAWAFRWVvr5+aFMzhH6+nHbtytqUfbboKyhwSckBL376HR6bGyslHUKQbYh3PDhw1NSUpAPp7imZuKuXfdzc2WS8P8RzwoK7HfuREy5u7unp6fLxBTIShYAKCsr//333wcOHMD17OuM9pr8L0f448fT9u9HW9QFBgbGx8dL06P3gWzNUBR37twJCAhgs9kA4O/kdDQgYDCD8q+HJhZr17VraN5HIpHOnj0reeQpAfKTBQB5eXk+Pj5lZWUAoEImb/T03O7nJ0/61tdBR1fXyfj4kJgY5C/T09O7deuWhNnMFzEosgCgrq5uzZo1d+7cQR+HqKsHz579s4eH9JumfA3w+Pz/PH6898YN4b7Jbm5uYWFhsv5wVR8MliyE58+fb9u2LS0tDX000dM7sGCBv5OTQkaPsiImK2vn1avvKyvRR2tr65CQkIG8LjJBMWQhREdH79y5s6CgAH20ptH2z58/09Z2MNNJ6cHHsMf5+bujotAqFgDQaLQDBw4sWrRIUdGHiiQLAHg83oULF/bu3Sv8QSUtVVVPW1s/e/sZNjYKX4kBAA6X+/D16+jMzLiXL9EaMgBoa2vv2rVr/fr1ZIV66xVMFgKbzT5x4sThw4eZInlWZBLp+zFj/OztfcaP15f9td0HzWz23Zcvo7OyEnNzkbsGgUKhbNiwYefOnXKMDL6Ir0IWQktLS1xcXExMTGJiIkvkNzJwOJzDiBHe33031tjYctgwMypVmrdBN49XWl/PqK5+V1GR8OpVyvv3ojEGFArFzc3N19fX19dX7yv8yJbA8q9HlhCdnZ3JycmxsbGxsbFV/QLICXi8iZ6e5J/sK29s/FBb2z+yVldX19vb29fX193dfZA/TikNvgVZQmAYlp2dHRsbGxMT80ZkH2dZYWFhgSqRo6PjNwsdh29MlihaWloYDAb6mdHCwsKKigopf2bU0tLy6zU0yfh/uud3wphTbKMAAAAASUVORK5CYII=","size_bytes":8090,"content_type":"image/png"},"properties":{"base64":{"type":"string"},"data_uri":{"type":"string"},"size_bytes":{"type":"integer"},"content_type":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"url","in":"query","required":true,"description":"URL to fetch and encode","schema":{"type":"string","description":"URL to fetch and encode"}}]}},"/x402/nginx-config-generate":{"get":{"tags":["x402"],"summary":"Nginx Config Generate (x402)","description":"Generate production nginx server blocks with SSL, proxy_pass, WebSocket support, security headers, gzip, rate limiting.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"notes":["Ensure Let's Encrypt certificate exists at /etc/letsencrypt/live/google.com/ before deploying","Update root directory path /var/www/google.com/public to match your application structure","Upstream service must be running on localhost:3000","HSTS header includes preload flag - only add if domain is in HSTS preload list","SSL session cache uses shared memory for better performance across worker processes","WebSocket upgrade headers ensure proper bidirectional communication","Gzip compression excludes compressed formats to avoid double-compression overhead","Consider adjusting proxy timeouts based on application response times","Access logs can be disabled for health check endpoint to reduce log noise","Certificate renewal with Let's Encrypt certbot is required every 90 days"],"config":"# HTTP redirect to HTTPS\nserver {\n    listen 80;\n    listen [::]:80;\n    server_name google.com www.google.com;\n    return 301 https://$server_name$request_uri;\n}\n\n# WWW redirect to non-WWW\nserver {\n    listen 443 ssl http2;\n    listen [::]:443 ssl http2;\n    server_name www.google.com;\n\n    ssl_certificate /etc/letsencrypt/live/google.com/fullchain.pem;\n    ssl_certificate_key /etc/letsencrypt/live/google.com/privkey.pem;\n\n    return 301 https://google.com$request_uri;\n}\n\n# Main server block\nserver {\n    listen 443 ssl http2;\n    listen [::]:443 ssl http2;\n    server_name google.com;\n\n    # SSL Configuration\n    ssl_certificate /etc/letsencrypt/live/google.com/fullchain.pem;\n    ssl_certificate_key /etc/letsencrypt/live/google.com/privkey.pem;\n    ssl_protocols TLSv1.2 TLSv1.3;\n    ssl_ciphers HIGH:!aNULL:!MD5;\n    ssl_prefer_server_ciphers on;\n    ssl_session_cache shared:SSL:10m;\n    ssl_session_timeout 10m;\n\n    # Gzip Compression\n    gzip on;\n    gzip_vary on;\n    gzip_min_length 1000;\n    gzip_proxied any;\n    gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml+rss application/atom+xml image/svg+xml application/json;\n    gzip_disable \"msie6\";\n\n    # Security Headers\n    add_header Strict-Transport-Security \"max-age=31536000; includeSubDomains; preload\" always;\n    add_header X-Frame-Options \"SAMEORIGIN\" always;\n    add_header X-Content-Type-Options \"nosniff\" always;\n    add_header Referrer-Policy \"strict-origin-when-cross-origin\" always;\n    add_header X-XSS-Protection \"1; mode=block\" always;\n    add_header Permissions-Policy \"geolocation=(), microphone=(), camera=()\" always;\n\n    # Logging\n    access_log /var/log/nginx/google.com.access.log;\n    error_log /var/log/nginx/google.com.error.log;\n\n    # Root location\n    root /var/www/google.com/public;\n\n    location / {\n        proxy_pass http://localhost:3000;\n        \n        # Proxy Headers\n        proxy_set_header Host $host;\n        proxy_set_header X-Real-IP $remote_addr;\n        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n        proxy_set_header X-Forwarded-Proto $scheme;\n        proxy_set_header X-Forwarded-Host $server_name;\n\n        # WebSocket Support\n        proxy_http_version 1.1;\n        proxy_set_header Upgrade $http_upgrade;\n        proxy_set_header Connection \"upgrade\";\n\n        # Timeouts\n        proxy_connect_timeout 60s;\n        proxy_send_timeout 60s;\n        proxy_read_timeout 60s;\n\n        # Buffering\n        proxy_buffering on;\n        proxy_buffer_size 4k;\n        proxy_buffers 8 4k;\n        proxy_busy_buffers_size 8k;\n    }\n\n    # Health check endpoint (optional)\n    location /health {\n        proxy_pass http://localhost:3000;\n        access_log off;\n    }\n}","domain":"google.com","upstream_port":3000,"features_enabled":["SSL/TLS with Let's Encrypt","HTTP to HTTPS redirect","WWW to non-WWW redirect","WebSocket support","Gzip compression","HTTP/2 support","Security headers (HSTS, X-Frame-Options, X-Content-Type-Options, Referrer-Policy, X-XSS-Protection, Permissions-Policy)","Proxy headers (X-Real-IP, X-Forwarded-For, X-Forwarded-Proto, X-Forwarded-Host)","Connection pooling and buffering","Request timeouts","Logging"],"security_headers_included":["Strict-Transport-Security (HSTS)","X-Frame-Options","X-Content-Type-Options","Referrer-Policy","X-XSS-Protection","Permissions-Policy"]},"properties":{"notes":{"type":"array"},"config":{"type":"string"},"features_enabled":{"type":"array"},"security_headers_included":{"type":"array"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"ssl","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"gzip","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"domain","in":"query","required":true,"schema":{"type":"string"}},{"name":"rate_limit","in":"query","required":false,"schema":{"type":"integer"}},{"name":"www_redirect","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"upstream_port","in":"query","required":false,"schema":{"type":"integer"}}]}},"/x402/vat-format-validate":{"get":{"tags":["x402"],"summary":"VAT Format Validation (x402)","description":"Validate a European VAT number format against country-specific rules. Pure algorithmic — does NOT check VIES. Use vat-validate for full VIES verification. Supports all 27 EU countries + GB, CH, NO.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.022"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"note":"Format is valid. Use vat-validate for full VIES verification.","valid":true,"vat_number":"SE556703748501","country_code":"SE","country_name":"Sweden","format_valid":true,"expected_format":"SE123456789012"},"properties":{"valid":{"type":"boolean"},"vat_number":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"format_valid":{"type":"boolean"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"vat_number","in":"query","required":true,"description":"VAT number including country prefix (e.g. SE556703748501)","schema":{"type":"string","description":"VAT number including country prefix (e.g. SE556703748501)"}}]}},"/x402/protocol-fees-lookup":{"get":{"tags":["x402"],"summary":"Protocol Fees Lookup (x402)","description":"Get fees and revenue data for any DeFi protocol. Returns 24h, 7d, 30d, and all-time fees plus revenue breakdown. Covers 7,000+ protocols via DeFi Llama.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.022"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"slug":"parent#uniswap","protocol":"Uniswap","fees_7d_usd":7424515,"fees_24h_usd":1100432,"fees_30d_usd":39302873,"revenue_7d_usd":null,"revenue_24h_usd":null,"revenue_30d_usd":null,"fees_all_time_usd":5497395571,"fees_48h_to_24h_usd":1417183,"revenue_all_time_usd":null},"properties":{"protocol":{"type":"string"},"fees_7d_usd":{"type":"number"},"fees_24h_usd":{"type":"number"},"fees_30d_usd":{"type":"number"},"revenue_7d_usd":{"type":"number"},"revenue_24h_usd":{"type":"number"},"revenue_30d_usd":{"type":"number"},"fees_all_time_usd":{"type":"number"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"protocol","in":"query","required":true,"description":"Protocol name or DeFi Llama slug (e.g., 'aave-v3', 'uniswap')","schema":{"type":"string","description":"Protocol name or DeFi Llama slug (e.g., 'aave-v3', 'uniswap')"}}]}},"/x402/swiss-company-data":{"get":{"tags":["x402"],"summary":"Swiss Company Data (x402)","description":"Look up Swiss company data from the Zefix PublicREST API (Federal Office of Justice). Accepts UID (e.g. CHE-105.805.977), EHRAID, or fuzzy company name.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"uid":"CHE105805977","ch_id":null,"canton":"VD","ehraid":218570,"status":"ACTIVE","address":"Avenue Nestlé 55, 1800 Vevey","purpose":null,"legal_form":"Association","data_source":"Zefix, Federal Office of Justice, Switzerland","company_name":"Nestlé SA","municipality":"Vevey","data_source_url":"https://www.zefix.admin.ch/","data_attribution":"Data from Zefix, Federal Office of Justice, Switzerland","registration_date":null},"properties":{"uid":{"type":"string"},"ch_id":{"type":"integer"},"canton":{"type":"string"},"ehraid":{"type":"integer"},"status":{"type":"string"},"address":{"type":"string"},"purpose":{"type":"string"},"legal_form":{"type":"string"},"vat_number":{"type":["string","null"]},"data_source":{"type":"string"},"company_name":{"type":"string"},"municipality":{"type":"string"},"deletion_date":{"type":"string"},"data_source_url":{"type":"string"},"data_attribution":{"type":"string"},"registration_date":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"uid","in":"query","required":true,"description":"Swiss UID (e.g. CHE-105.805.977), EHRAID, or company name","schema":{"type":"string","description":"Swiss UID (e.g. CHE-105.805.977), EHRAID, or company name"}}]}},"/x402/ssl-check":{"get":{"tags":["x402"],"summary":"SSL Certificate Check (x402)","description":"Check a domain's SSL/TLS certificate. Returns issuer, validity dates, days until expiry, protocol version, cipher, and SAN entries.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.032"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"valid":false,"domain":"expired.badssl.com","issuer":"COMODO CA Limited","subject":"*.badssl.com","protocol":"TLSv1.2","valid_to":"2015-04-12T23:59:59.000Z","is_expired":true,"valid_from":"2015-04-09T00:00:00.000Z","cipher_name":"ECDHE-RSA-AES128-GCM-SHA256","serial_number":"4AE79549FA9ABE3F100F17A478E16909","cipher_version":"TLSv1.2","is_expiring_soon":false,"days_until_expiry":-4009,"subject_alt_names":["*.badssl.com","badssl.com"],"fingerprint_sha256":"BA:10:5C:E0:2B:AC:76:88:8E:CE:E4:7C:D4:EB:79:41:65:3E:9A:C9:93:B6:1B:2E:B3:DC:C8:20:14:D2:1B:4F"},"properties":{"valid":{"type":"boolean"},"domain":{"type":"string"},"issuer":{"type":"string"},"valid_to":{"type":"string"},"is_expired":{"type":"boolean"},"days_until_expiry":{"type":"integer"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Domain name (e.g. example.com)","schema":{"type":"string","description":"Domain name (e.g. example.com)"}}]}},"/x402/adverse-media-check":{"get":{"tags":["x402"],"summary":"Adverse Media Check (x402)","description":"Screens a person or company for adverse news coverage across 235,000+ sources via Dilisense (primary) with Serper Google search fallback. Returns audit-grade evidence: risk level with documented thresholds, FATF-aligned category counts, top article headlines with source URLs and dates, and the rule used to classify severe vs non-severe coverage.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.216"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"query":"Wirecard AG","period":"last 12 months","source":"dilisense","categories":{"political":19,"regulatory":94,"financial_crime":187,"organized_crime":12},"risk_level":"high","total_hits":312,"screened_at":"2026-04-27T13:00:00.000Z","top_articles":[{"category":"financial_crime","headline":"Wirecard scandal: how the German fintech collapsed","language":"en","timestamp":"2026-04-20T10:00:00","source_link":"https://example.com/wirecard-scandal"}],"lists_queried":{"version":null,"collection":"dilisense/adverse-media","source_count":235000,"last_updated_at":null},"categories_found":["financial_crime","regulatory","organized_crime","political"],"severe_categories":["financial_crime","organized_crime","terrorism","violent_crime"],"risk_level_thresholds":{"low":"total_hits > 0 AND no hits in severe categories (financial_crime, organized_crime, terrorism, violent_crime)","high":"10+ hits in any single severe category","none":"total_hits == 0","medium":"1+ hits in any severe category"}},"properties":{"query":{"type":"string"},"period":{"type":"string"},"source":{"enum":["dilisense","serper"],"type":"string"},"categories":{"type":"object"},"risk_level":{"enum":["none","low","medium","high"],"type":"string"},"total_hits":{"type":"integer"},"screened_at":{"type":"string"},"top_articles":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"headline":{"type":"string"},"language":{"type":"string"},"timestamp":{"type":"string"},"source_link":{"type":"string"}}}},"lists_queried":{"type":"object","properties":{"version":{"type":["string","null"]},"collection":{"type":"string"},"source_count":{"type":["integer","null"]},"last_updated_at":{"type":["string","null"]}}},"fallback_reason":{"type":["string","null"]},"categories_found":{"type":"array"},"severe_categories":{"type":"array"},"risk_level_thresholds":{"type":"object"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"name","in":"query","required":true,"description":"Person or company name to screen","schema":{"type":"string","description":"Person or company name to screen"}},{"name":"country","in":"query","required":false,"description":"Additional context like industry or country (optional)","schema":{"type":"string","description":"Additional context like industry or country (optional)"}},{"name":"entity_name","in":"query","required":false,"description":"Alias for name (optional)","schema":{"type":"string","description":"Alias for name (optional)"}},{"name":"entity_type","in":"query","required":false,"description":"Override auto-detection of entity type (optional)","schema":{"enum":["person","company"],"type":"string","description":"Override auto-detection of entity type (optional)"}}]}},"/x402/cookie-scan":{"get":{"tags":["x402"],"summary":"Cookie Scan (x402)","description":"Scan a website for cookies, tracking scripts, and consent banners. Categorizes cookies as necessary/analytics/marketing.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.162"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"url":"https://google.com","cookies":[{"name":"__Secure-STRP","path":"/","domain":".google.com","secure":true,"expires":"Fri, 03-Apr-2026 03:43:02 GMT","category":"necessary","httponly":false,"samesite":"strict","known_service":null},{"name":"AEC","path":"/","domain":".google.com","secure":true,"expires":"Wed, 30-Sep-2026 03:38:02 GMT","category":"functional","httponly":true,"samesite":"lax","known_service":null},{"name":"NID","path":"/","domain":".google.com","secure":true,"expires":"Sat, 03-Oct-2026 03:38:02 GMT","category":"marketing","httponly":true,"samesite":"none","known_service":"Google Ads"}],"total_cookies":3,"potential_issues":["No cookie consent banner visible in provided page text","Google's own tracking mechanisms (kEI, kEXPI parameters) present without explicit consent disclosure in visible content","Privacy policy link present but no consent mechanism shown in page excerpt","Tracking pixels/logging via google.log() function detected in inline scripts without visible consent flow","Missing explicit cookie disclosure for tracking identifiers (kEI, kOPI, cshid parameters)"],"tracking_scripts":[],"first_party_count":3,"third_party_count":0,"consent_banner_text":null,"third_party_domains":[],"consent_banner_detected":false},"properties":{"cookies":{"type":"array"},"total_cookies":{"type":"number"},"tracking_scripts":{"type":"array"},"consent_banner_detected":{"type":"boolean"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}]}},"/x402/package-security-audit":{"get":{"tags":["x402"],"summary":"Package Security Audit (x402)","description":"Composite security audit for npm and PyPI packages with supply chain anomaly detection","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"name":"lodash","license":{"spdx":"MIT","is_copyleft":false,"is_osi_approved":true},"version":"4.18.1","ecosystem":"npm","freshness":{"is_latest":true,"published_at":"2026-04-01T21:01:20.458Z","is_deprecated":false,"latest_version":"4.18.1","version_age_hours":687,"recently_published":false,"days_since_last_release":28},"scorecard":null,"risk_level":"low","risk_score":100,"maintainers":1,"supply_chain":{"provenance":{"has_attestation":false,"attestation_missing":false,"previous_had_attestation":false},"current_publisher":"jdalton","publisher_changed":false,"previous_publisher":"jdalton","has_install_scripts":false,"install_script_names":[]},"vulnerabilities":{"low":0,"high":0,"total":0,"medium":0,"details":[],"critical":0},"dependency_count":0},"properties":{"name":{"type":"string"},"license":{"type":"object"},"version":{"type":"string"},"ecosystem":{"type":"string"},"freshness":{"type":"object"},"risk_level":{"type":"string"},"risk_score":{"type":"integer"},"supply_chain":{"type":"object","description":"Supply chain anomaly signals"},"vulnerabilities":{"type":"object"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"name","in":"query","required":true,"description":"Package name","schema":{"type":"string","description":"Package name"}},{"name":"version","in":"query","required":false,"description":"Version to audit","schema":{"type":"string","description":"Version to audit"}},{"name":"ecosystem","in":"query","required":false,"description":"npm or pypi","schema":{"type":"string","description":"npm or pypi"}}]}},"/x402/sanctions-check":{"get":{"tags":["x402"],"summary":"Sanctions Check (x402)","description":"Check if a person or entity is on sanctions lists (EU, US OFAC, UN, UK OFSI, Swiss SECO, BIS, World Bank, EBRD, ADB + 125 national lists). Uses Dilisense consolidated database. Returns audit-grade evidence: match results with classification, named source attribution, and country attribution.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.216"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"query":"Vladimir Putin","schema":"Person","source":"dilisense","matches":[{"name":"Vladimir Vladimirovich Putin","topics":["sanction"],"datasets":["us_ofac_sdn"],"countries":["ru"],"entity_id":"us_ofac_sdn","classification":"primary_sanction","last_updated_at":null,"sanction_details":["Executive Order 14024"]}],"queried_at":"2026-04-27T13:00:00.000Z","match_count":14,"is_sanctioned":true,"lists_queried":{"version":null,"collection":"dilisense/consolidated-sanctions","major_lists":["OFAC — Specially Designated Nationals (SDN)","European Commission — Consolidated List of Financial Sanctions","UN Security Council — Consolidated List","HMT OFSI — Financial Sanctions","SECO — Switzerland Sanctions","BIS — Entity List","(plus ~128 more)"],"source_count":134,"freshness_note":"Dilisense aggregates 130+ sanctions, debarment, and restrictive-measure lists into a consolidated index. The publisher refreshes the consolidated index multiple times daily; per-list timestamps are not exposed via the screening API.","last_updated_at":null,"source_catalog_url":"https://dilisense.com/en/sources/sanction-sources"},"total_results":14,"country_filter":null,"birth_date_filter":"1952-10-07"},"properties":{"query":{"type":"string"},"schema":{"enum":["Person","Company"],"type":"string"},"source":{"enum":["dilisense"],"type":"string"},"matches":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"topics":{"type":"array"},"datasets":{"type":"array"},"countries":{"type":"array"},"entity_id":{"type":"string"},"classification":{"enum":["primary_sanction"],"type":"string"},"last_updated_at":{"type":["string","null"]},"sanction_details":{"type":"array"}}}},"queried_at":{"type":"string"},"match_count":{"type":"integer"},"is_sanctioned":{"type":"boolean"},"lists_queried":{"type":"object","properties":{"version":{"type":["string","null"]},"collection":{"type":"string"},"major_lists":{"type":"array"},"source_count":{"type":"integer"},"freshness_note":{"type":"string"},"last_updated_at":{"type":["string","null"]},"source_catalog_url":{"type":"string"}}},"total_results":{"type":"integer"},"country_filter":{"type":["string","null"]},"birth_date_filter":{"type":["string","null"]}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"name","in":"query","required":true,"description":"Person or company name to check","schema":{"type":"string","description":"Person or company name to check"}},{"name":"country","in":"query","required":false,"description":"ISO country code filter (optional)","schema":{"type":"string","description":"ISO country code filter (optional)"}},{"name":"birth_date","in":"query","required":false,"description":"ISO date of birth (YYYY-MM-DD) for person disambiguation, reduces false positives on common names (optional)","schema":{"type":"string","format":"date","description":"ISO date of birth (YYYY-MM-DD) for person disambiguation, reduces false positives on common names (optional)"}},{"name":"entity_type","in":"query","required":false,"description":"Override auto-detection of entity type (optional)","schema":{"enum":["person","company"],"type":"string","description":"Override auto-detection of entity type (optional)"}}]}},"/x402/sepa-xml-validate":{"get":{"tags":["x402"],"summary":"SEPA XML Validate (x402)","description":"Validate SEPA XML files (pain.001 credit transfer, pain.008 direct debit). Checks structure, IBANs, BICs, amounts, transaction counts.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.022"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"valid":false,"debtor":{"bic":null,"iban":null,"name":null},"errors":[{"path":"Document/@xmlns","message":"Missing or invalid SEPA namespace. Expected urn:iso:std:iso:20022:tech:xsd:pain.001.001.03 or pain.008.001.02."},{"path":"Document","message":"Cannot determine SEPA message type. Expected pain.001 (credit transfer) or pain.008 (direct debit)."},{"path":"GrpHdr/MsgId","message":"Missing MsgId (Message Identification)."},{"path":"GrpHdr/CreDtTm","message":"Missing CreDtTm (Creation Date Time)."},{"path":"GrpHdr/NbOfTxs","message":"Missing NbOfTxs (Number of Transactions)."},{"path":"PmtInf","message":"No PmtInf (Payment Information) blocks found."}],"schema":null,"currency":"EUR","warnings":[],"message_id":null,"message_type":null,"total_amount":0,"creation_date":null,"payment_count":0,"creditor_count":0},"properties":{"valid":{"type":"boolean"},"errors":{"type":"array"},"message_type":{"type":"string"},"total_amount":{"type":"number"},"payment_count":{"type":"number"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"xml","in":"query","required":true,"description":"SEPA XML string","schema":{"type":"string","description":"SEPA XML string"}}]}},"/x402/accessibility-audit":{"get":{"tags":["x402"],"summary":"Accessibility Audit (x402)","description":"WCAG 2.1 accessibility audit of a URL. Checks color contrast, alt text, form labels, ARIA roles, heading hierarchy, link text, language. Mostly deterministic.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.324"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"url":"https://example.com","score":95,"passes":["Heading hierarchy is sequential","All links have descriptive text","Page language is declared","Viewport meta tag present"],"summary":{"low":1,"medium":0,"critical":0,"passed_checks":4},"violations":[{"fix":"Use semantic HTML5 elements (nav, main, header, footer) or ARIA landmark roles","rule":"WCAG 1.3.1 - Landmark Regions","element":"page structure","severity":"low","description":"No landmark regions found (nav, main, header, footer elements or ARIA roles)"}],"violation_count":1,"manual_review_needed":["Keyboard navigation and focus management","Screen reader compatibility","Color contrast for all text (not just inline styles)","Dynamic content accessibility","Video captions and audio descriptions"]},"properties":{"score":{"type":"integer"},"passes":{"type":"array"},"violations":{"type":"array"},"manual_review_needed":{"type":"array"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"url","in":"query","required":true,"description":"URL to audit","schema":{"type":"string","description":"URL to audit"}}]}},"/x402/company-industry-classify":{"get":{"tags":["x402"],"summary":"Company Industry Classify (x402)","description":"Classify a company's industry using standard codes. Given a company name, description, or website URL, returns SIC, NAICS, and NACE codes with confidence levels.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"sector":"Technology","confidence":"high","description":"Search engine and technology company","company_name":"Google","classifications":[{"code":"7375","system":"SIC","description":"Information Services"},{"code":"519130","system":"NAICS","description":"Internet Publishing and Broadcasting and Web Search Portals"},{"code":"J63.11","system":"NACE","description":"Web portals and internet search engines"}],"primary_industry":"Internet Search Engines and Web Portals"},"properties":{"sector":{"type":"string"},"confidence":{"type":"string"},"company_name":{"type":"string"},"classifications":{"type":"array"},"primary_industry":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"description","in":"query","required":false,"description":"Company description or business activity","schema":{"type":"string","description":"Company description or business activity"}},{"name":"company_name","in":"query","required":false,"description":"Company name","schema":{"type":"string","description":"Company name"}}]}},"/x402/pdf-extract":{"post":{"tags":["x402"],"summary":"PDF Data Extraction (x402)","description":"Extract structured data from any PDF document. Accepts a URL or base64-encoded PDF. Works on contracts, reports, forms — any document type. Returns JSON based on your extraction instructions.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.324"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"data":{"pages":1,"title":"Dummy PDF file","content":[{"page":1,"text":"Dummy PDF file"}],"document_type":"PDF","extracted_data":{"body_content":"No additional content found","main_heading":"Dummy PDF file"}},"source_url":"https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"},"properties":{"data":{"type":"object"},"source_url":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"URL to a PDF file"},"base64":{"type":"string","description":"Base64-encoded PDF"},"extract":{"type":"string","description":"What data to extract (natural language)"}}}}}}}},"/x402/isbn-validate":{"get":{"tags":["x402"],"summary":"ISBN Validation (x402)","description":"Validate an ISBN-10 or ISBN-13 number. Checks format, length, and checksum. Converts ISBN-10 to ISBN-13. Pure algorithmic — instant.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.022"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"type":"ISBN-13","valid":true,"isbn13":"9780134685991","ean_prefix":"978","isbn_input":"978-0-13-468599-1","isbn_cleaned":"9780134685991"},"properties":{"type":{"type":"string"},"valid":{"type":"boolean"},"isbn13":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"isbn","in":"query","required":true,"description":"ISBN-10 or ISBN-13 (e.g. 978-3-16-148410-0)","schema":{"type":"string","description":"ISBN-10 or ISBN-13 (e.g. 978-3-16-148410-0)"}}]}},"/x402/shipping-cost-estimate":{"get":{"tags":["x402"],"summary":"Shipping Cost Estimate (x402)","description":"Estimate shipping costs for PostNord, DHL, UPS by origin/destination, weight, and service level.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.162"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"zone":"domestic","notes":"Estimates based on published rate guides. Get exact quotes from carrier websites. Prices in EUR, actual currency may vary by carrier and route.","origin":"TE","fastest":{"carrier":"DHL","service":"express","delivery_days":"1"},"cheapest":{"price":5,"carrier":"DHL","service":"economy"},"estimates":[{"price":5,"carrier":"DHL","service":"economy","currency":"EUR","delivery_days":"3-5"},{"price":8,"carrier":"DHL","service":"standard","currency":"EUR","delivery_days":"2-3"},{"price":15,"carrier":"DHL","service":"express","currency":"EUR","delivery_days":"1"},{"price":6,"carrier":"UPS","service":"economy","currency":"EUR","delivery_days":"3-5"},{"price":9,"carrier":"UPS","service":"standard","currency":"EUR","delivery_days":"2-3"},{"price":16,"carrier":"UPS","service":"express","currency":"EUR","delivery_days":"1"}],"weight_kg":1,"destination":"TE"},"properties":{"fastest":{"type":"object"},"cheapest":{"type":"object"},"estimates":{"type":"array"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"service","in":"query","required":false,"schema":{"type":"string"}},{"name":"weight_kg","in":"query","required":true,"schema":{"type":"number"}},{"name":"origin_country","in":"query","required":true,"schema":{"type":"string"}},{"name":"destination_country","in":"query","required":true,"schema":{"type":"string"}}]}},"/x402/phone-normalize":{"get":{"tags":["x402"],"summary":"Phone Normalize (x402)","description":"Parse and normalize phone numbers to E.164 format. Detects country, carrier type, validates format. Uses libphonenumber.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.032"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"e164":"+46701234567","type":null,"input":"+46701234567","valid":true,"is_possible":true,"calling_code":"+46","country_code":"SE","national_format":"070-123 45 67","international_format":"+46 70 123 45 67"},"properties":{"e164":{"type":"string"},"type":{"type":"string"},"valid":{"type":"boolean"},"country_code":{"type":"string"},"national_format":{"type":"string"},"international_format":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"phone_string","in":"query","required":true,"description":"Phone number to normalize","schema":{"type":"string","description":"Phone number to normalize"}},{"name":"default_country","in":"query","required":false,"description":"ISO country code (e.g. SE)","schema":{"type":"string","description":"ISO country code (e.g. SE)"}}]}},"/x402/crontab-generate":{"get":{"tags":["x402"],"summary":"Crontab Generate (x402)","description":"Convert natural language schedule to cron expression, or explain an existing cron expression. Returns next run times.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"next_5_runs":[],"timezone_note":"Cannot calculate without a valid cron expression or schedule details","human_readable":"No valid schedule information provided in the description","cron_expression":"Unable to determine - no schedule specified","input_description":"This is a test input for automated capability testing."},"properties":{"next_5_runs":{"type":"array"},"human_readable":{"type":"string"},"cron_expression":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"description","in":"query","required":true,"description":"Schedule in natural language or cron expression","schema":{"type":"string","description":"Schedule in natural language or cron expression"}}]}},"/x402/eori-validate":{"get":{"tags":["x402"],"summary":"EORI Validation (x402)","description":"Validate an EORI (Economic Operators Registration and Identification) number against the EU customs validation service. Returns trader name and address if valid.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.054"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"city":null,"valid":false,"street":null,"country":null,"eori_number":"DE123456789012345","postal_code":null,"trader_name":null,"country_code":"DE","trader_address":null},"properties":{"valid":{"type":"boolean"},"eori_number":{"type":"string"},"trader_name":{"type":"string"},"country_code":{"type":"string"}}}}}},"402":{"description":"Payment required (x402 — pay with USDC on Base)"}},"parameters":[{"name":"eori","in":"query","required":true,"description":"EORI number (e.g. DE123456789012345)","schema":{"type":"string","description":"EORI number (e.g. DE123456789012345)"}}]}},"/x402/openapi-generate":{"get":{"tags":["x402"],"summary":"OpenAPI Generate (x402)","description":"Generate a complete OpenAPI 3.1 specification from a natural language API description.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.162"}},"security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","example":{"spec":"openapi: 3.1.0\ninfo:\n  title: Test API\n  description: This is a test input for automated capability testing.\n  version: 1.0.0\nservers:\n  - url: https://api.example.com\n    description: Production server\npaths:\n  /test:\n    get:\n      summary: Test endpoint\n      description: A simple test endpoint for automated capability testing\n      operationId: getTest\n      responses:\n        '200':\n          description: Successful response\n          content:\n            application/json:\n              schema:\n                $ref: '#/components/schemas/TestResponse'\n    post:\n      summary: Create test resource\n      description: Create a new test resource\n      operationId: postTest\n      requestBody:\n        required: true\n        content:\n          application/json:\n            schema:\n              $ref: '#/components/schemas/TestRequest'\n      responses:\n        '201':\n          description: Resource created\n          content:\n            application/json:\n              schema:\n                $ref: '#/components/schemas/TestResponse'\ncomponents:\n  schemas:\n    TestRequest:\n      type: object\n      properties:\n        name:\n          type: string\n          description: Test resource name\n        value:\n          type: integer\n          description: Test resource value\n      required:\n        - name\n    TestResponse:\n      type: object\n      properties:\n        id:\n          type: string\n          description: Unique identifier\n        name:\n          type: string\n          description: Test resource name\n        value:\n          type: integer\n          description: Test resource value\n        timestamp:\n          type: string\n          format: date-time\n          description: Creation timestamp\n      required:\n        - id\n        - name","schemas":["TestRequest","TestResponse"],"endpoints":[{"path":"/test","method":"GET","summary":"Test endpoint"},{"path":"/test","method":"POST","summary":"Create test resource"}],"total_paths":1},"properties":{"spec":{"type":"string"},"schemas":{"type":"array"},"endpoints":{"type":"array"},"total_paths":{"type":"integer"}}}}}},"402":{
[...]
